/* Variable */
$color-white: #fff;
$color-dim-white: #F5F5F5;
$color-black: #000;
$color-dim-dark: #ABABAB;
$color-dim-black: #585858;
$color-sand: #FFF9E5;
$color-grey: #F2F2F2;

$font-header: 'PP Right Grotesk', sans-serif;
$font-base: 'Inter', sans-serif;
/*Breakpoints*/
$mobile: 768px;
$mobile-up: 769px;
$tablet: 992px;
$tablet-up: 993px;
$desk: 1140px;
$large_desk: 1199px;
$larger_desk: 1300px;
$widescreen: 1440px;