.responsive-table th {
  text-align: left;
  font-size: .875rem
}

.responsive-table-row td {
  border-bottom: 1px solid #fff;
  font-size: .875rem
}

tfoot td {
  font-size: .875rem;
  font-weight: 500
}