@import '../helpers/_variables.scss';

.dropdown {
  .dropdownHeader {
    padding: 26px 30px 26px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .dropdownHeader-title {
    margin: 0;
    font-family: $font-base;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    text-transform: capitalize;
  }

  .dropdownContent {
    padding: 0 24px 8px;
    margin-top: -2px;
    font-size: 14px;
    line-height: 120%;

    a {
      text-decoration: underline;
    }

    h1,h2,h3,h4,h5,h6,a,p {
      font-size: 14px;
      line-height: 120%;
      margin: 0 0 16px 0;
    }

    em {
      font-style: normal;
      margin: 0 0 8px 0;
    }

    p:empty {
      margin: 0;
    }
  }

  .dropdownContent--animate-block {
    opacity: 0;
    -webkit-transition: opacity .3s cubic-bezier(.215,.61,.355,1),visibility .3s cubic-bezier(.215,.61,.355,1);
    -o-transition: opacity .3s cubic-bezier(.215,.61,.355,1),visibility .3s cubic-bezier(.215,.61,.355,1);
    transition: opacity .3s cubic-bezier(.215,.61,.355,1),visibility .3s cubic-bezier(.215,.61,.355,1);
    visibility: hidden;
  }

  .dropdownContent--animate-block-visible {
    opacity: 1;
    visibility: visible;

    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.2;
    }
  }

  .dropdownHeader-icon {
    width: 29px;
    height: 29px;
    transition: all .2s linear;
  }

  .dropdownHeader-icon--rotate {
    transform: rotate(0);
  }

  .dropdownHeader.active .dropdownHeader-icon--rotate {
    transform: rotate(180deg);
  }
}

.dropdownHeader-icon {
  transition: all .2s linear;
}

@media screen and (max-width: $tablet) {
  .dropdownHeader {
    border-top: 1px none #ABABAB;
  }
}

[data-dropdown-content] {
  display: none;
}

[data-dropdown].active [data-dropdown-content] {
  display: block;
}

[data-slide-target] {
  cursor: pointer;
  .slide-toggle-active {
    display: none;
  }
}

[data-slide-target].active {
  .slide-toggle-active {
    display: block;
  }
  .slide-toggle-inactive {
    display: none;
  }
}

[data-slide-content] {
  transition: all .2s ease-in-out;
  overflow: hidden;
}

[data-slide-content]:not(.active) {
  display: none;
}