.how-it-works {
  padding: 3rem 2rem 5.25rem
}

.how-it-works__inner {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem 2rem
}

@media screen and (min-width: 768px) {
  .how-it-works__inner {
    grid-template-columns: repeat(3, 1fr)
  }
}

.how-it-works__circle {
  font-size: 1.5rem;
  border-radius: 50%;
  border: 1px solid var(--black);
  width: 2.8125rem;
  height: 2.8125rem
}

.how-it-works__circle svg {
  display: block;
  fill: currentColor;
  margin: 12%
}

.how-it-works__item {
  max-width: 19.5em
}

.how-it-works__item-body p {
  margin: .25em 0
}