@import '../helpers/_variables';

.cmHeading {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 100%;
  color: inherit;

  @media screen and (max-width: $tablet) {
    font-size: 33px;
  }
}

.cmDescription {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;

  @media screen and (max-width: $tablet) {
    font-size: 18px;
  }
}