@import '../helpers/_variables.scss';

.searchForm {
  position: relative;

  @media screen and (max-width: $tablet) {
    margin-left: 16px;
    margin-right: 16px;
  }
}

.searchForm__input {
  width: 100%;
  padding: 16px 50px 14px 20px;
  font-size: 16px;
  line-height: 130%;
  border-radius: 5px;
  border: 1px solid #C2C2C2;

  &:focus {
    border: 1px solid #000;
    border-radius: 5px;
  }
}

.searchForm__resetInput {
  font-size: 0;
  height: 0;
  padding: 0;

  &:focus + label {
    outline: 2px solid blue;
  }
}

.searchForm__resetLabel {
  position: absolute;
  top: 2px;
  right: 30px;
  padding: 10px;
  cursor: pointer;

  @media screen and (max-width: $tablet) {
    top: 3px;
  }

  svg {
    width: 13px;
    height: 13px;
    stroke-width: 1;
  }
}

.searchForm__Submit {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: $tablet) {
    transform: translateY(-66%);
  }

  &:focus {
    outline: 2px solid blue;
  }

  svg {
    width: 16px;
    height: 16px;
    vertical-align: middle;
  }
}

.headerSearch__resetLabel {
  display: none;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 280;
  }
  50% {
    stroke-dashoffset: 75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 280;
    transform: rotate(450deg);
  }
}

.headerSearch:not(.loading) .headerSearch__results__loadingState {
  display: none;
}

.headerSearch__results__loadingState {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 40px;
  right: 20px;

  .spinner {
    animation: rotator 1.4s linear infinite;
  }

  .path {
    stroke-dasharray: 280;
    stroke-dashoffset: 0;
    transform-origin: center;
    stroke: currentColor;
    animation: dash 1.4s ease-in-out infinite;
  }
}

.headerSearch__resultsText,
.headerSearch__emptyResults {
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  margin: 0 0 24px;
  color: #232323;

  @media screen and (max-width: $tablet) {
    margin: 0 0 16px;
  }
}

.headerSearch__emptyResults {
  margin: 0;
}

.search__popularHeading,
.searchBestSellers__heading {
  margin: 16px 0 8px;
  font-weight: 500;
  font-size: 38px;
  line-height: 100%;
  color: #232323;

  @media screen and (max-width: $tablet) {
    font-size: 16px;
    line-height: 120%;
    font-weight: bold;
    margin: 16px 0;
    font-family: $font-base;
  }
}

.searchBestSellers__heading {
  @media screen and (max-width: $tablet) {
    margin-bottom: 24px;
  }
}

.headerSearch__results {
  padding: 30px 20px;
  transition: all .4s linear;
  border: 1px solid #ABABAB;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: none;
  margin: -5px auto 0;
  max-width: 1440px;
  position: relative;

  @media screen and (max-width: $tablet) {
    margin: 24px 0 0;
    padding: 24px 16px 0;
    border: none;
    border-top: 1px solid #DBDBDB;
    border-radius: 0;
  }
}

.headerSearch__results[aria-hidden="false"] {
  display: block;
}

.headerSearch__item {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 130%;
  display: block;

  &:last-child {
    margin-bottom: 0;
  }
}

.search__popular {
  padding: 24px 0 0;

  @media screen and (max-width: $tablet) {
    padding: 14px 0 0;
  }
}

.search__popular--header.search__popular--hide-desktop {
  @media screen and (min-width: $tablet) {
    display: none!important;
  }
}

.search__popularImageWrapper {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;

  @media screen and (max-width: $mobile) {
    padding-bottom: 108%;
  }
}

.headerSearch__emptyResults {
  display: none;

  @media screen and (max-width: $mobile) {
    text-align: center;
  }
}

.search__popularImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.search__popularGrid,
.searchBestSellers__content {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 16px);
  margin-left: -8px;
}

.search__popularItem ,
.searchBestSellers__item {
  width: 25%;
  padding: 8px;
  flex-shrink: 0;

  @media screen and (max-width: $mobile) {
    width: 50%;
  }
}

.searchBestSellers__item {
  @media screen and (max-width: $mobile) {
    width: calc(50vw - 8px);
    flex: auto 0 0;
  }
}

.search__popularItemHeading {
  margin: 15px 0;
  text-align: center;
  font-family: $font-base;
  font-weight: normal;
  font-size: 16px;
}

.searchMain {
  padding: 65px 30px 25px;

  @media screen and (max-width: $tablet) {
    padding: 30px 16px 10px;
  }
}

.searchFormMain {
  max-width: 1150px;
  margin: 0 auto;
}

.searchMain__searchSize {
  font-size: 14px;
  line-height: 120%;
  margin-bottom: 24px;

  @media screen and (max-width: $tablet) {
    margin: 25px 0 10px;
  }
}

.search__popular--mainWrapper,
.searchForm,
.searchBestSellers {
  max-width: 1440px;
  margin: 0 auto;
}

.searchForm {
  @media screen and (max-width: $tablet) {
    margin: 0 16px;
  }
}

.searchMain__resultHeading {
  font-weight: 500;
  font-size: 48px;
  line-height: 100%;
  margin: 0;

  @media screen and (max-width: $tablet) {
    font-size: 33px;
  }
}

.searchMain__empty {
  padding: 40px 0 60px;
  border-bottom: 1px solid #ABABAB;
  text-align: center;

  @media screen and (max-width: $tablet) {
    padding: 25px 0;
  }
}

.searchBestSellers {
  margin-top: 40px;

  .relatedProducts__row {
    @media screen and (max-width: $mobile) {
      margin-left: -16px;
    }

    @media screen and (min-width: $mobile) {
      padding: 8px 0 0 0;
    }
  }

  .relatedProducts__item {
    @media screen and (max-width: $mobile) {
      padding-left: 16px;
      width: calc(50vw - 8px);
    }
  }

  .relatedProducts__row-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@keyframes animation-loading-line {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}

.searchMain__gridItem {
  width: calc(100% / 3 - 12px);
  flex-shrink: 0;
  padding: 12px 0;

  &.searchMain__gridItem--Loading {
    .bg-animation {
      background-color: #f2f2f2;
      background-image: linear-gradient(90deg, #f2f2f2, #f6f6f6, #f2f2f2 );
      background-size: 200px 100%;
      background-repeat: no-repeat;
      border-radius: 4px;
      animation: animation-loading-line 1.2s ease-in-out infinite;
    }

    .productCard__details {
      margin-top: 10px;
      height: 50px;
    }
  }
}

.filter-group:only-child {
  @media screen and (max-width: $tablet) {
    .dropdownHeader {
      border-top: 0;
      margin-top: 0;
    }
  }
}

.searchMain__content {
  display: flex;
  padding: 0;

  .collection__products {
    @media screen and (min-width: $tablet) {
      padding: 60px 0 0 ;
    }
  }

  .collection__products-filter-results {
    @media screen and (min-width: $tablet) {
      top: 10px;
    }
  }

  .filter-group-mobile [data-mobile-filter] {
    padding: 0;
  }

  .searchMain__searchSize {
    margin-bottom: 12px;
  }
}

.searchForm__Input {
  @media screen and (min-width: $tablet) {
    border-color: #ABABAB;
  }
}

.search__popular--main {
  @media screen and (min-width: $tablet) {
    padding-top: 44px;
  }
}