@import '../helpers/_variables.scss';

[data-action="toggle-tab"] {
  color: $color-dim-dark;

  &[data-selected="true"] {
    color: $color-black;
  }
}

[data-tab] {
  height: 0;
  opacity: 0;
  transition: all 150ms;

  &[data-selected='true'] {
    height: auto;
    opacity: 1;
    transition: all 350ms;
  }
}