@import '../helpers/_variables.scss';

.pride_trevor {
  width: 100%;
  background: #FFF9E5;
  color: #000000;
  margin-bottom: 0 !important;
}

.pride_trevor_container {
  padding: 64px 34px;
  margin: 0 auto;
  max-width: 1210px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pride_trevor_icon_slot {
  background: #ffffff;
  padding: 100px 65px;
  max-width: 360px;
  max-height: 360px;
  border-radius: 100%;
}

.pride_trevor_icon {
  max-width:100%;
  max-height:100%;
  height: auto;
}

.pride_trevor_text {
  max-width:700px;
}

.pride_trevor_text a{
  text-decoration: underline;
  font-weight: bold;
}

.second--cta {
  margin-top: 24px !important;
}