@import '../helpers/_variables.scss';

.collectionModule__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 105px 33px 95px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @media screen and (max-width: $large_desk) {
    padding: 20px 16px 47px;
    flex-direction: column;
    align-items: center;
  }
}

.collectionModule__media {
  width: 49.1%;
  padding-top: 32.7%;

  @media screen and (max-width: $large_desk) {
    padding-top: 0;
    width: 100%;
    height: 64vw;
  }

  .image img {
    -o-object-fit: contain;
    object-fit: contain;

    @media screen and (max-width: $large_desk) {
      object-position: top;
    }
  }
}

.collectionModule__content {
  padding: 0 0 0 115px;
  width: 50.9%;

  @media screen and (max-width: $large_desk) {
    margin-top: 32px;
    padding: 0 32px 80px;
    width: 100%;
  }

  @media screen and (max-width: $tablet) {
    padding: 0;
  }
}

.collectionModule__contentTitle {
  max-width: 90%;
  margin: 0 0 60px 0;
  font-weight: 500;
  font-size: 72px;
  line-height: 73px;

  @media screen and (max-width: $large_desk) {
    max-width: 85%;
    margin: 0 0 24px 0;
    font-size: 53px;
    line-height: 100%;
  }

  @media screen and (max-width: $tablet) {
    font-size: 33px;
  }
}

.collectionModule__contentLink {
  padding: 16px 65px;
  display: inline-block;
  text-align: center;
  border-radius: 12px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;

  @media screen and (max-width: $tablet) {
    padding: 16px 62px;
  }
}

.collectionModule__content-arrow {
  position: absolute;
  top: 12.5%;
  left: 22px;
  transform: translateX(-100%);
  z-index: 3;

  @media screen and (max-width: $large_desk) {
    top: 0;
    left: 10%;
    transform: translateY(-100%);

    svg {
      width: 220px;
      height: auto;
    }
  }

  @media screen and (max-width: $tablet) {
    svg {
      width: 100%;
    }
  }
}