@import '../helpers/_mixins.scss';

.cmIWT {
  margin: 0 auto;
  max-width: 1440px;
  padding: 40px 33px 25px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: stretch;

  @media screen and (max-width: $tablet) {
    padding: 30px 16px 40px;
  }

  @media screen and (max-width: $mobile) {
    padding: 30px 16px 40px;
    flex-direction: column;
  }
}

.cmIWT__image {
  width: 49%;
  padding-top: 38%;

  @media screen and (max-width: $mobile) {
    width: 100%;
    padding-top: 81%;
  }
}

.cmIWT__content {
  width: 51%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: $mobile) {
    width: 100%;
    padding: 16px 0 0;
    align-items: revert;
    text-align: left;
  }
}

.cmIWT__contentDescription {
  width: 100%;
  max-width: 560px;
  margin: 24px 0 0;

  @media screen and (max-width: $tablet) {
    margin: 16px 0 0;
  }
}

.cmIWT__button {
  margin-top: 24px;
  font-size: 18px;
  padding: 16px;

  @media screen and (max-width: $tablet) {
    margin: 16px 0 0;
  }

  @media screen and (max-width: $mobile) {
    max-width: 100%;
  }
}

.cmIWT__image--right {
  flex-direction: row-reverse;

  .cmIWT__content {
    align-items: flex-end;
    text-align: right;

    @media screen and (max-width: $tablet) {
      text-align: left;
    }
  }
}