@import '../helpers/_variables.scss';

.socialProof__container {
  position: relative;
  text-align: center;
  color: #000
}

@media screen and (min-width: 992px) {
  .socialProof__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 3rem;
    padding-bottom: 3rem
  }
}

.socialProof__single img {
  max-width: 180px;
  max-height: 85px;
  width: auto;
  height: auto;
  margin: 0 auto
}

.socialProof__single p {
  max-width: 90%
}

@media screen and (min-width: 992px) {
  .socialProof__single {
    max-width: 30%;
    flex: 1 1 0
  }
}