@import '../helpers/_variables.scss';

.BannerWithCta__Wrapper {
  min-height: 44.5vw;
  position: relative;
  display: flex;
  padding: 7.4vw 20px;

  @media screen and (max-width: $tablet) {
    min-height: 460px;
    padding: 52px 86px;
  }
}

.BannerWithCta__Wrapper--Narrow {
  max-width: 1440px;
  min-height: unset;
  height: 44.5vw;
  max-height: 640px;
  margin: 0 auto;

  @media screen and (max-width: $tablet) {
    min-height: 460px;
    max-height: none;
    height: auto;
  }
}

.BannerWithCta__Image {
  z-index: -1;
}

.BannerWithCta__Heading {
  margin: 0 0 8px;

  @media screen and (max-width: $tablet) {
    margin: 0 0 10px;
    &.h1 {
      font-size: 26px;
    }
  }
}

.BannerWithCta__Text {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  margin: 0 0 8px;

  @media screen and (max-width: $tablet) {
    font-size: 16px;
    margin: 0 0 10px;
  }
}

.BannerWithCta__Content .btn {
  margin-top: 0;
}

.Content--TopCenter {
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.Content--TopLeft {
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.Content--TopRight {
  justify-content: flex-end;
  align-items: flex-start;
  text-align: right;
}

.Content--MiddleCenter {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Content--MiddleLeft {
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.Content--MiddleRight {
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}


.Content--BottomCenter {
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

.Content--BottomLeft {
  justify-content: flex-start;
  align-items: flex-end;
  text-align: left;
}

.Content--BottomRight {
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

@media screen and (max-width: $tablet) {
  .ContentMobile--TopCenter {
    justify-content: center;
    align-items: flex-start;
    text-align: center;
  }

  .ContentMobile--MiddleCenter {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .ContentMobile--BottomCenter {
    justify-content: center;
    align-items: flex-end;
    text-align: center;
  }
}

.BannerBlocks__Wrapper {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.BannerWithCta__Wrapper--Narrow .BannerBlocks__Item {
  max-height: 640px;

  @media screen and (max-width: $tablet) {
    max-height: unset;
  }
}

.BannerBlocks__Item {
  width: 50%;
  padding: 50px 38px;
  display: flex;
  height: 44.5vw;

  @media screen and (max-width: $tablet) {
    width: 100%;
    height: unset;
    min-height: 460px;
    max-height: unset;
  }
}

.BannerBlocks__Item .BannerWithCta__Content {
  @media screen and (max-width: $tablet) {
    width: 100%;
  }
}

.BannerBlocks__Item .btn {
  max-width: 250px;
}
.BannerBlocks .BannerWithCta__Wrapper--Narrow {
  height: auto;
  max-height: none;
}