@import '../helpers/_variables.scss';

.collectionIWT__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 96px 33px 116px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: $large_desk) {
    padding: 0 0 43px;
    flex-direction: column;
    align-items: center;
  }
}

.collectionIWT__media {
  width: 49.2%;
  padding-top: 37.8%;

  @media screen and (max-width: $large_desk) {
    padding-top: 0;
    width: 100%;
  }

  .image img {
    -o-object-fit: contain;
    object-fit: contain;

    @media screen and (max-width: $large_desk) {
      object-position: top;
    }
  }
}

.collectionIWT__content {
  padding: 0 55px 0 97px;
  width: 50.8%;

  @media screen and (max-width: $large_desk) {
    margin-top: 37px;
    padding: 0 32px 80px;
    width: 100%;
  }

  @media screen and (max-width: $tablet) {
    padding: 0 16px;
  }
}

.collectionIWT__contentTitle {
  margin: 0 0 24px 0;
  font-weight: 500;
  font-size: 48px;
  line-height: 100%;

  @media screen and (max-width: $large_desk) {
    margin: 0 0 10px 0;
    font-size: 33px;
  }
}

.collectionIWT__contentDescription {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  margin: 0 0 24px 0;

  @media screen and (max-width: $large_desk) {
    max-width: 85%;
  }
}

.collectionIWT__contentLink {
  padding: 16px 40px;
  display: inline-block;
  text-align: center;
  border-radius: 12px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;

  @media screen and (max-width: $tablet) {
    padding: 16px 62px;
  }
}