@import '../helpers/_variables.scss';

#pdp-reviews {
  margin: 0 auto 35px;
  max-width: 1440px;
  padding: 0 33px;
  position: relative;

  @media screen and (max-width: $tablet) {
    padding: 0 16px;
  }

  .pdp-reviews__header {
    padding: 0 0 40px;
    border-bottom: 1px solid #ABABAB;

    @media screen and (max-width: $tablet) {
      padding: 0 0 80px;
      text-align: center;
    }

    .pdp-reviews__average {
      display: flex;
      align-items: center;

      @media screen and (max-width: $tablet) {
        padding-bottom: 16px;
        border-bottom: 1px solid #ABABAB;
        justify-content: center;
        flex-direction: row-reverse;
      }
    }

    .pdp-reviews__heading {
      margin: 32px 0 24px;
      font-weight: 500;
      font-size: 48px;
      line-height: 100%;

      @media screen and (max-width: $tablet) {
        margin: 32px 0 8px;
        font-weight: 400;
        font-size: 33px;
        line-height: 100%;
      }
    }

    .pdp-reviews__average-rating {
      margin: 0 20px 0 0;
      font-weight: normal;
      font-size: 26px;
      line-height: 100%;

      @media screen and (max-width: $tablet) {
        margin: 0 0 0 8px;
        font-size: 18px;
        line-height: 120%;
      }
    }

    .pdp-reviews__average-counter {
      display: none;
      @media screen and (max-width: $tablet) {
        margin: 0 0 8px 0;
        display: block;
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
      }
    }

    .yotpo-display-wrapper {
      .standalone-bottomline {
        padding: 0;
      }

      .yotpo-stars .yotpo-icon.yotpo-icon-star {
        margin-right: 8px;
        font-size: 20px;
      }

      .yotpo-stars .yotpo-icon.yotpo-icon-half-star {
        margin: 0;
        font-size: 20px;
      }

      .text-m {
        margin: 0 0 0 20px;
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;

        @media screen and (max-width: $tablet) {
          display: none;
        }
      }
    }
  }

  #pdp-reviews__widget {

    .yotpo span, .yotpo p {
      font-family: Inter,sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      color: #000;
    }

    .yotpo-label,
    .yotpo-bottomline-empty-state,
    .yotpo-small-box.yotpo-nav,
    .yotpo-label-container,
    .new-yotpo-small-box,
    .yotpo-regular-box.yotpo-bottomline {
      display: none;
    }

    button, a {
      outline: none !important;
    }

    .yotpo-nav-content {
      .yotpo-review.yotpo-regular-box {
        position: relative;
        min-height: 288px;
        margin: 0;
        padding: 40px 0;
        border-top: 0;
        border-bottom: 1px solid #ABABAB;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media screen and (max-width: 1199px) {
          min-height: unset;
        }
      }

      .yotpo-icon-profile,
      .label-with-tooltip,
      .yotpo-footer {
        display: none;
      }

      .yotpo-header-element.yotpo-header-actions {
        display: block;
      }

      .yotpo-user-name,
      .yotpo-review-date {
        font-family: $font-base;
        font-size: 16px;
        line-height: 120%;
        color: $color-black;
      }

      .yotpo-user-name {
        font-weight: 700;
      }

      .yotpo-header.yotpo-verified-buyer {
        display: flex;
      }

      .yotpo-main {
        margin: 24px 0 0;
        max-width: 875px;

        @media screen and (max-width: 1199px) {
          max-width: 100%;
        }

        .content-title {
          margin: 0 0 8px;
          font-family: $font-header;
          font-weight: 500;
          font-size: 26px;
          line-height: 100%;
          color: $color-black;
        }

        .content-review {
          font-family: $font-base;
          font-weight: 400;
          font-size: 16px;
          line-height: 130%;
          color: $color-black;
        }

        .yotpo-review-media-wrapper-desktop,
        .yotpo-review-media-wrapper-mobile,
        .media-review {
          width: 208px !important;
          height: 208px !important;
          margin: 0 !important;
          position: absolute;
          top: 20px;
          right: 0;

          @media screen and (max-width: 1199px) {
            width: 177px !important;
            height: 177px !important;
            position: static;
            top: unset;
            right: unset;
          }
        }
      }

      .yotpo-reviews-filters {
        margin: 0;
        padding: 0;
        border: none;
        height: 0;

        .filters-container {
          position: static;

          .desktop-clear-all-btn {
            right: 33px;
            border: 1px solid #ABABAB;
            display: none;

            .desktop-clear-btn-text {
              font-family: $font-base;
              font-weight: 400;
              color: $color-black;
            }
          }

          .yotpo-visible-mobile {
            display: none !important;
          }

          .yotpo-hidden-mobile {
            display: block !important;
          }
        }

        .dropdown-filters-container {
          position: absolute;
          top: 58px;
          right: 33px;

          @media screen and (max-width: $tablet) {
            top: 130px;
            right: 0;
            left: calc(50% - 159px);
          }

          .yotpo-dropdown-button {
            width: 155px;
            height: 40px;
            padding: 10px 12px;
            border: 1px solid #ABABAB;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: $font-base;
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            color: $color-black;

            .selected {
              width: auto;
              font-family: $font-base;
              font-weight: 400;
              font-size: 16px;
              line-height: 130%;
              color: $color-black;
              position: relative;
            }

            .selected[data-selected-key="All"] {
              width: 100%;
              height: 100%;
              font-size: 0;

              &:before {
                content: 'Filter';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                display: block;
                color: $color-black;
                font-size: 16px;
              }
            }
          }

          .filters-dropdown {
            margin: 0 !important;
          }

          .filters-dropdown[data-default-button-display-value="Rating"] {
            display: none;
          }
        }

        .filters-container-title {
          display: none;
        }
      }

      .yotpo-drop-down-layout .yotpo-dropdown.list-categories {
        top: 40px;
        border: 1px solid #ABABAB;
        width: 155px;
        min-width: 155px;

        .list-category {
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .selected-item,
        .non-selected-item {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          outline: none;
        }
        [sort-name="highest_rating"], [sort-name="lowest_rating"] {
          display: none !important;
        }

        [sort-name="most_helpful"] a,
        [sort-name="least_helpful"] a {
          display: flex;
          align-items: center;
          font-size: 0;

          &:before {
            font-size: 12px;
          }
        }

        [sort-name="most_helpful"] a {
          &:before {
            content: 'Highest Rated';
          }
        }

        [sort-name="least_helpful"] a {
          &:before {
            content: 'Lowest Rated';
          }
        }
      }

      .yotpo-reviews-header {
        height: 0;
        padding: 0;
        margin: 0;

        .sort-drop-down.yotpo-nav-dropdown  {
          width: 155px;
          height: 40px;
          position: absolute;
          top: 58px;
          right: 215px;
          padding: 10px 12px;
          border: 1px solid #ABABAB;
          border-radius: 5px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-family: $font-base;
          font-weight: 400;
          font-size: 16px;
          line-height: 130%;
          color: $color-black;

          @media screen and (max-width: $tablet) {
            top: 130px;
            right: 0;
            left: calc(50% + 4px);
          }

          .yotpo-dropdown-button {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: stretch;
          }

          span {
            padding: 0;
            font-family: $font-base;
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            color: $color-black;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:first-child {
              display: none;
            }
          }

          .selected-bold.selected {
            width: 100%;
            font-family: $font-base;
            font-weight: 400 !important;
            font-size: 16px;
            line-height: 130% !important;
            color: $color-black !important;
            position: relative;
            display: flex;
            align-items: center;
          }

          .selected-bold.selected[data-selected-key="Select"],
          .selected-bold.selected[data-selected-key="most_helpful"],
          .selected-bold.selected[data-selected-key="least_helpful"] {
            font-size: 0;

            &:before {
              content: 'Sort By';
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              display: block;
              color: $color-black;
              font-size: 16px;
            }
          }

          .selected-bold.selected[data-selected-key="Select"]:before {
            content: 'Sort By';
          }
          .selected-bold.selected[data-selected-key="most_helpful"]:before {
            content: 'Highest Rated';
          }
          .selected-bold.selected[data-selected-key="least_helpful"]:before {
            content: 'Lowest Rated';
          }
        }

        .reviews-header .reviews-amount {
          display: none;
        }
      }

      .yotpo-empty-search-results,
      .search-in-progress {
        margin-top: 40px;
      }

      .yotpo-icon.yotpo-icon-down-triangle {
        &:before {
          content: $right-arrow;
          width: 30px;
          height: 30px;
          display: block;
          transform: rotate(90deg);
          object-position: center;

        }
      }
    }

    .yotpo-pager {
      margin: 40px 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .yotpo-page-element {
        position: relative;
        margin: 0 20px;
        display: inline-block;
        font-family: $font-base;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: $color-black;

        @media screen and (max-width: $tablet) {
          margin: 0 5px;
        }
      }

      .yotpo-page-element.yotpo-icon-right-arrow {
        margin: 0 0 0 20px;
        width: 30px !important;
        height: 30px;

        @media screen and (max-width: $tablet) {
          margin: 0 0 0 5px;
        }

        &:before {
          content: $right-arrow;
          position: absolute;
          top: 0;
          left: 0;
          width: 30px;
          height: 30px;
          object-position: center;
        }
      }

      .yotpo-page-element.yotpo-icon-left-arrow {
        margin: 0 20px 0 0;
        width: 30px !important;
        height: 30px;

        @media screen and (max-width: $tablet) {
          margin: 0 5px 0 0;
        }

        &:before {
          content: $left-arrow;
          position: absolute;
          top: 0;
          left: 0;
          width: 30px;
          height: 30px;
          object-position: center;
        }
      }

      .yotpo-active {
        font-weight: 500;

        &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 100%;
          height: 2px;
          display: block;
          background-color: $color-black;
        }
      }
    }
  }
}