@import '../helpers/_variables.scss';

.noticeModule {
  position: relative
}

.noticeModule__container {
  width: 100%;
  max-width: calc(1440px + 4rem);
  margin: auto;
  padding: 2rem;
  text-align: center
}

.noticeModule__image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  top: -44px;
  height: calc(100% + 44px)
}

.noticeModule__copy {
  display: block;
  position: relative;
  height: 100%;
  text-transform: uppercase
}

.noticeModule__subheaderText {
  text-transform: initial
}

.noticeModule__cta {
  display: inline-block;
  margin-top: 1rem
}