@import '../helpers/_variables.scss';

html,
body {
	margin: 0
}

html {
	box-sizing: border-box;
	-ms-overflow-style: scrollbar
}

html {
	font-size: 16px
}

@media screen and (max-width: 991.98px) {
	html {
		font-size: 14px
	}
}

body {
	font-style: normal;
	font-weight: 400;
	color: #000;
	font-family: $font-base;
	font-size: 16px;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a,
button,
[role="button"],
input,
label,
select,
textarea {
	touch-action: manipulation;
}

form {
	margin: 0;
}

input,
textarea,
select {
	display: inline-block;
	outline: none;
	border-radius: 0;
	border: 1px solid #000;
	position: relative;
	font-size: inherit;
	font-family: inherit;
	background-color: transparent;
}

textarea {
	max-width: 100%;
	overflow: auto;
	resize: vertical;
}

:root {
	--slow: .33s;
	--medium: .25s;
	--fast: .15s;
	--ease: ease-in-out;
	--cubic: cubic-bezier(.12, .67, .53, 1)
}

:root {
	--white: white;
	--xlightgrey: whitesmoke;
	--lightgrey: #e7e8e6;
	--grey: #969696;
	--darkgrey: #444444;
	--black: black;
	--newblack: #0f0a0f;
	--matteblack: #141414;
	--polishedsteel: #dae0e4;
	--orange: #c3672c;
	--green: #6cc7b5;
	--lightblue: #1290ce;
	--blue: #344FDA;
	--darkblue80: #495168;
	--darkblue: #262c4d;
	--navy: #202944;
	--clydePurple: #d1b3d3
}

form {
	margin: 0
}

ol,
ul {
	list-style: none;
	padding: 0;
	margin: 0
}

ul.list,
ol.list {
	padding-left: 2em
}

ol.list {
	list-style: decimal
}

ul.list {
	list-style: disc
}