.button--reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  padding: 0;
  margin: 0;
  border-width: 0;
  font: inherit;
  text-decoration: none;
  color: inherit;
  overflow: visible;
  cursor: pointer;
  line-height: normal;
  text-align: inherit
}

.button--reset::-moz-focus-inner,
.button--reset:focus {
  border: 0;
  padding: 0
}

button {
  display: inline-block;
  font-family: inherit;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  -webkit-appearance: none
}

button:disabled {
  cursor: default;
  opacity: .75
}

.button,
button.button,
input.button[type=submit] {
  background-color: #000;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1;
  letter-spacing: .025em;
  text-transform: uppercase;
  text-align: center
}

@media screen and (min-width: 992px) {
  .button,
  button.button,
  input.button[type=submit] {
    padding: 1.25rem 2rem
  }
}

button.button--ghost {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  transition: all var(--fast) ease
}

button.button--ghost:hover,
button.button--ghost:focus {
  background-color: #000;
  color: #fff
}

.btn {
  display: inline-block;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 12px;
  color: #000;
  text-align: center;
  text-decoration: none !important;
  transition: all var(--medium);
  padding: .625rem 1rem
}

.btn:hover {
  background-color: #000;
  color: #fff
}

.btn--lg,
.btn--hero-slider {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  padding: 1rem;
  border: 2px solid #000;
  margin-top: 2.5rem;
  min-width: 165px;
  max-width:320px;
  line-height:1.5rem;
  text-transform: capitalize;
  width: 100%;
}


.btn--sm {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  padding: 1rem;
  border: 2px solid #000;
  margin-top: 1rem;
  min-width:218px;
  max-width: 218px;
  line-height:1.5rem;
  text-transform: capitalize;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .btn--lg,
  .btn--hero-slider {
    min-width: 200px
  }
}

@media screen and (max-width: 1199.98px) {
  .btn--lg,
  .btn--hero-slider {
    margin-top: 1.5rem
  }
}

.btn--secondary {
  background: #fff;
  border: 1px solid #000;
  color: #000;
  border-radius: 3px;
  padding: .35rem .75rem
}

.btn--disabled {
  opacity: .75;
  background: #e7e8e6;
  border: 1px solid
}

.btn--dark,
.btn--light {
  background: #000;
  color: #fff;
  border: 2px solid transparent;
  transition: all var(--fast) var(--ease);
  text-shadow: none
}

.btn--dark:hover,
.btn--light:hover,
.btn--dark:focus,
.btn--light:focus {
  background: #fff;
  color: #000;
  border-color: #000
}

.btn--light {
  background: #fff;
  color: #000
}

.btn--light:hover,
.btn--light:focus {
  background: #000;
  color: #fff;
  border-color: transparent
}

@media screen and (max-width: 991.98px) {
  .btn--darkSm {
    background: #000;
    color: #fff;
    border: 2px solid transparent;
    transition: all var(--fast) var(--ease);
    text-shadow: none
  }
  .btn--darkSm:hover,
  .btn--darkSm:focus {
    background: #fff;
    color: #000;
    border-color: #000
  }
}

@media screen and (max-width: 991.98px) {
  .btn--lightSm {
    background: #fff;
    color: #000
  }
  .btn--lightSm:hover,
  .btn--lightSm:focus {
    background: #000;
    color: #fff;
    border-color: transparent
  }


}

.btn--clear {
  background-color: transparent;
  border: 0
}

.btn--clear:hover {
  background-color: transparent;
  color: currentColor
}

.btn--hero-slider {
  max-width: 300px;
  border: 2px solid #000
}

@media screen and (min-width: 992px) {
  .btn--hero-slider {
    margin: 45px auto 0
  }
}

.btn--kickstarter-green {
  background: #009e74;
  color: #fff;
  border-color: #009e74;
  transition: all var(--fast) var(--ease);
  text-shadow: none
}

.btn--kickstarter-green:hover,
.btn--kickstarter-green:focus {
  background: #fff;
  color: #009e74;
  border-color: #009e74
}

.btn--ghost {
  background-color: transparent;
  border-color: currentColor;
  color: currentColor
}

.button--full {
  min-width: 0;
  width: 100%
}

.cart__button,
.cart-checkout__button.gradient-hover,
.cart-drawer__button.gradient-hover {
  display: inline-block;
  font-weight: 600;
  line-height: 1;
  letter-spacing: .025em;
  padding: 1rem 3rem;
  width: 100%;
  min-width: 200px;
  margin: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: auto;
  border: 2px solid transparent
}

.cart__button,
.cart-checkout__button.gradient-hover:hover,
.cart-drawer__button.gradient-hover:hover {
  background-color: #FFFFFF;
  color: #000000;
  border: 2px solid #000000
}

@media screen and (max-width: 991.98px) {
  .cart__button,
  .cart-checkout__button.gradient-hover,
  .cart-drawer__button.gradient-hover {
    padding: 1.25rem 3rem;
    font-size: 1.75rem
  }
}

.cart-drawer__button.gradient-hover {
  background: #000;
  color: #fff;
  transition: all var(--medium) var(--ease)
}

.cart-checkout__button.gradient-hover {
  background: #000;
  color: #fff;
  transition: all var(--medium) var(--ease)
}

@media screen and (max-width: 991.98px) {
  button.klaviyo-bis-trigger {
    padding: 1.25rem
  }
}

button {
  color: currentColor;
}