@import '../helpers/_mixins.scss';

body {
  font-family: $font-base;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
}

.page-wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-right: 33px;
  padding-left: 33px;
}

@media screen and (max-width: $tablet) {
  .page-wrapper {
    padding-right: 16px;
    padding-left: 16px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-header;
}

button {
  color: currentColor;
}

.lazyload,
.lazyloading {
  opacity: 0;
}

.image-loader {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  margin: auto;
  pointer-events: none;
  z-index: -1;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.lazyload ~ .image-loader {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

slide-toggle,
toggle-tabs {
  display: block;
}

.page.module {
  padding-top: 80px;
}

@media screen and (max-width: 991.98px) {
  .page.module {
    margin-top: 45px;
  }
}

.jsPrevSlide,
.jsNextSlide {
  position: absolute;
  top: 50%;
  width: 29px;
  height: 29px;
  transform: translateY(-50%);
  color: inherit;
  background-color: transparent;
  z-index: 2;
}

.jsPrevSlide {
  left: 0;

  @media screen and (max-width: $large_desk) {
    left: -50px;
  }

  @media screen and (max-width: $tablet) {
    left: 25px;
    color: #000000;
  }
}

.jsNextSlide {
  right: 0;

  @media screen and (max-width: $large_desk) {
    right: -50px;
  }

  @media screen and (max-width: $tablet) {
    right: 25px;
    color: #000000;
  }
}

.image-abs-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.image-abs-contain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: contain;
}

.image-abs-scale-down {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: scale-down;
}

.hide-mobile {
  @media screen and (max-width: 991.98px) {
    display: none;
  }
}

.hide-desktop {
  @media screen and (min-width: 992px) {
    display: none;
  }
}

.hide-tablet {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.hide-tablet-desk {
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

/* Product Recommended Collection */

.pdpRecCollection {
  .col-lg-10 {
    padding-left: 0;
    padding-right: 0;
  }
}

.pdpRecCollection__slideshow {
  padding: 0 20px;

  .slick-arrow {
    background: 0 0;
    color: #737373;
    font-size: 1.5rem;
    transition: all var(--fast) var(--ease);

    position: absolute;
    top: 0;
    height: 100%;
    width: 40px;
    z-index: 1;

    &:hover {
      color: #000000;
    }
  }

  .slick-disabled {
    opacity: 0;
  }

  .slick-prev {
    left: -10px;
  }

  .slick-next {
    right: -10px;
  }
}

.pdpRecCollection__slide {
  &.slick-slide {
    display: flex;
    height: auto;
    padding: 0 1vw;
  }

  .productCard {
    width: 100%;
  }
}

/* Page referral */

#conjured_referral {
  input,
  select,
  textarea {
    border: 1px solid #000;
  }
}

/* Animation */
@keyframes pulse {
  0% {opacity: 1;}
  20% {opacity: .7;}
  40% {opacity: .5;}
  60% {opacity: .3;}
  80% {opacity: .5;}
  100% {opacity: 1;}
}
@-webkit-keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}

/* MODAL */
#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  padding: 16px;
  width: 100%;
  height: 100%;
  background-color: rgba($color-dim-black, .8);
}

.modal-quick-add {
  width: 100%;
  max-width: 910px;
  min-height: 410px;
  max-height: 630px;
  padding: 40px;
  background: $color-white;
  border-radius: 12px;
  transition: all .2s linear;
  overflow: hidden;
}

#emptyModal {
  padding: 80px;
  margin: 0 auto;
  width: 100%;
  max-width: 50%;

  -webkit-animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#emptyQvModal {
  width: 100%;
  height: 100%;
  min-height: 450px;
  display: flex;
}

.emptyQvModal__Content {
  width: 39%;
}

/* sleleton elements */
.skeleton {
  background: linear-gradient(
                  90deg,
                  hsl(210, 15%, 88%),
                  hsl(210, 15%, 95%),
                  hsl(210, 15%, 88%)
  );
  background-size: 200%;
  animation: loader 1s infinite reverse;
}

.emptyQvModal__GalleryThumbnailWrapper {
  width: 43px;
  display: flex;
  flex-direction: column;

}

.emptyQvModal__GalleryThumbnail.skeleton {
  width: 100%;
  padding-top: 100%;
  margin-bottom: 10px;
}

.emptyQvModal__GalleryImage.skeleton {
  width: 412px;
  height: 412px;
  margin: 0 34px 0 13px;
}

.emptyQvModal__ContentTitle.skeleton {
  width: 200px;
  height: 26px;
  margin-bottom: 16px;
}

.emptyQvModal__ContentPrice.skeleton {
  width: 32px;
  height: 16px;
  margin-bottom: 25px;
}

.emptyQvModal__ContentDescription.skeleton {
  height: 10px;
  margin-bottom: 5px;
}

/* skeleton animation */
@keyframes loader {
  from {
    background-position: -100% 0;
  }
  to {
    background-position: 100% 0;
  }
}

.closeModal {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 10;
  background: $color-white;
  padding: 5px;
  height: 25px;
  width: 25px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    opacity: .7;
  }
}


#modalContent {
  width: 100%;
  height: inherit;

  .pdpTemplate {
    margin: 0;

    .pdpBar,
    .pdp__tagline,
    .shop-pay,
    .counter-wrapper,
    .breadcrumbs {
      display: none;
    }

    .pdpQuickView__gallery {
      width: 61%;
    }

    .pdpQuickView__description {
      width: 39%;
      overflow-x: hidden;

      [data-option-label=Color] {
        display: none;
      }
    }

    .pdpMain__container {
      padding: 0;
    }

    #productQuantity {
      pointer-events: none;
    }

    .pdpMain__gallery-thumbnails,
    .pdpMain__details {
      position: static;
      top: unset;
      height: 100%;
      overflow: hidden;

      .cart__button {
        margin: 0;
      }
    }

    .pdpMain__gallery-thumbnails {
      .slick-current {
        border: 2px solid #ABABAB;
      }
    }

    .pdpMain__details {
      padding-right: 2px;
      height: 100%;

      form {
        display: flex;
        flex-direction: column;
        height: inherit;
        max-height: 550px;
        overflow-x: hidden;
        overflow-y: auto;

        &::-webkit-scrollbar-track {
          border-radius: 10px;
          background-color: #FFFFFF;
        }

        &::-webkit-scrollbar {
          width: 6px;
          background-color: #FFFFFF;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
          background-color: #f5f5f5;
        }
      }

      .pdp__options {
        margin-top: auto;
      }

      .option-groups {
        margin-top: 0;
      }

      .option-groups__group {
        padding-top: 0;
        padding-bottom: 16px;
      }
    }

    .pdp__description p {
      font-size: 14px;
      line-height: 120%;
    }

    .pdpMain__gallery-thumbnails {
      max-width: 47px;
      height: auto;
      margin-bottom: 6px;
    }

    .pdpMain__gallery-wrapper {
      height: inherit;
      max-height: 412px;
      margin: 0;
      padding: 0 34px 0 13px;
      overflow: hidden;
    }

    .pdpMain__variant-image {
      padding-top: 100%;
      margin: 0;
    }

    .pdpMain__gallery-thumbnails .pdpMain__gallery-thumbnails-item {
      height: 47px;
      min-width: 100%;
    }

    .pdpCopy__header {
      width: 97%;
    }

    .pdpCopy__header-title {
      margin: 0 0 16px;
      font-family: $font-header;
      font-style: normal;
      font-weight: 500;
      font-size: 26px;
      line-height: 1em;
    }

    .pdpCopy__header-price {
      margin: 0 0 25px;
      font-family: $font-base;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 1em;
    }

    #atc-wrapper {
      margin-top: 8px;

      #quickAdd[disabled] {
        &:hover {
          background-color: #000;
          color: #fff;
          border: 2px solid transparent;
        }
      }
    }
  }
}
/**
 * ----------------------------------------------------------------------------
 * Aspect ratio
 * ----------------------------------------------------------------------------
 */

.AspectRatio {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  &::before {
    content: '';
    display: block;
  }
}

.AspectRatio > img {
  max-height: 100%;
  max-width: 100%;
}

.AspectRatio--withFallback > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@supports (--css: variables) {
  /* For dynamic one, we use CSS variables, which makes it only compatible for newer browsers */

  .AspectRatio--withFallback {
    padding-bottom: 0 !important; /* For older browsers we use the padding-bottom trick, so make sure to remove it here */
  }

  .AspectRatio::before {
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }

  .AspectRatio > img,
  .no-js .AspectRatio > noscript img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.AspectRatio--square::before {
  padding-bottom: 100%;
}

.AspectRatio--short::before {
  padding-bottom: 75%;
}

.AspectRatio--tall::before {
  padding-bottom: 150%;
}

.AspectRatio--square > img,
.AspectRatio--short > img,
.AspectRatio--tall > img {
  position: absolute;
  width: auto;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  @supports ((-o-object-fit: contain) or (object-fit: contain)) {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }
}


/* Homepage HeroSlider */
.hero__slide--split {
  .button {
    padding: 16px 23px;
    margin: 0;
    width: 100%;
    min-width: 165px;
    max-width: 320px;
    font-family: $font-base;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-transform: none;

    @media screen and (max-width: $tablet) {
      padding: 16px 62px;
      width: auto;
      font-size: 16px;
      line-height: 20px;
      margin-top: 0;
    }
  }

  .btn--light {
    &:hover {
      background: transparent;
      border: 2px solid $color-white;
      color: $color-white;
    }
  }

  .splitSlide__textContainer {

    @media screen and (max-width: $tablet) {
      .textContainer__desktopPadding {
        padding: 16px 16px 50px;
      }
    }
  }

  .splitSlide__Header {
    font-family: $font-header;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    text-transform: none;
    margin-bottom: 24px;

    @media screen and (max-width: $desk) {
      font-size: 60px;
    }

    @media screen and (max-width: $tablet) {
      font-size: 42px;
      line-height:100%;
    }
  }

  .splitSlide__Description {
    margin-bottom: 24px;
    padding: 0 0;
    font-family: $font-base;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    text-transform: none;

    @media screen and (max-width: $tablet) {
      font-size: 18px;
      padding: 0 0;
      line-height: 22px;

    }
  }
}
/* TAB */

[data-action="toggle-tab"] {
  color: $color-dim-dark;

  &[data-selected="true"] {
    color: $color-black;
  }
}

[data-tab] {
  height: 0;
  opacity: 0;
  transition: all 150ms;

  &[data-selected='true'] {
    height: auto;
    opacity: 1;
    transition: all 350ms;
  }
}

/* Dropdown */

.dropdown {
  .dropdownHeader {
    padding: 26px 30px 26px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .dropdownHeader-title {
    margin: 0;
    font-family: $font-base;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    text-transform: capitalize;
  }

  .dropdownContent {
    padding: 0 24px 8px;
    margin-top: -2px;
    font-size: 14px;
    line-height: 120%;

    a {
      text-decoration: underline;
    }

    h1,h2,h3,h4,h5,h6,a,p {
      font-size: 14px;
      line-height: 120%;
      margin: 0 0 16px 0;
    }

    em {
      font-style: normal;
      margin: 0 0 8px 0;
    }

    p:empty {
      margin: 0;
    }
  }

  .dropdownContent--animate-block {
    opacity: 0;
    -webkit-transition: opacity .3s cubic-bezier(.215,.61,.355,1),visibility .3s cubic-bezier(.215,.61,.355,1);
    -o-transition: opacity .3s cubic-bezier(.215,.61,.355,1),visibility .3s cubic-bezier(.215,.61,.355,1);
    transition: opacity .3s cubic-bezier(.215,.61,.355,1),visibility .3s cubic-bezier(.215,.61,.355,1);
    visibility: hidden;
  }

  .dropdownContent--animate-block-visible {
    opacity: 1;
    visibility: visible;

    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.2;
    }
  }

  .dropdownHeader-icon {
    width: 29px;
    height: 29px;
    transition: all .2s linear;
  }

  .dropdownHeader-icon--rotate {
    transform: rotate(0);
  }

  .dropdownHeader.active .dropdownHeader-icon--rotate {
    transform: rotate(180deg);
  }
}

.dropdownHeader-icon {
  transition: all .2s linear;
}

@media screen and (max-width: $tablet) {
  .dropdownHeader {
    border-top: 1px none #ABABAB;
  }
}

/* Breadcrumbs */

.breadcrumbs {
  margin: 0 auto;
  padding: 24px 33px 0;
  max-width: 1440px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  @media screen and (max-width: $tablet) {
    display: none;
  }

  li {
    display: inline;
  }

  li:not(:last-child):after {
    content: ' / ';
  }
}

/* PDP / QuickView / Global */

.pdpBar {
  padding: 0;
  display: block;
}

.pdpBar__wrapper {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.pdpBar__item {
  padding: 13px 0;
}

.pdpBar__item-title {
  padding: 0 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
}

pdp-main {
  display: block;
}

.pdpMain__container {
  margin: 0 auto;
  padding: 24px 33px 49px;
  max-width: 1440px;

  @media screen and (max-width: $tablet) {
    padding: 0;
  }
}

.pdpMain__Media {
  padding-bottom: 0;

  @media screen and (min-width: $tablet) {
    flex: 0 0 59.3%;
    max-width: 59.3%;
    padding-bottom: 40px;
  }
}

.pdpMain__Content {
  @media screen and (min-width: $tablet) {
    flex: 0 0 40.7%;
    max-width: 40.7%;
  }
}

.pdpMain__gallery-wrapper {
  margin-bottom: -16px;
  padding: 0 24px;

  .slick-dots {
    width: fit-content;
    width: -moz-fit-content;
    max-width: 145px;

    li:only-child {
      display: none;
    }
  }

  @media screen and (max-width: $tablet) {
    margin-bottom: 0;
    padding: 0;
  }

  .slick-list, .slick-slide {
    height: inherit;
  }
}

.pdpMain__gallery-thumbnails {
  width: 100%;
  max-width: 92px;
  height: 610px;
  position: sticky;
  top: calc(var(--header-height) + 24px);
  display: block;
  overflow: hidden;

  @media screen and (max-width: $tablet) {
    display: none;
  }

  .slick-slide {
    margin-bottom: 10px;
    border: 2px solid $color-dim-white;
  }

  .slick-list {
    margin-bottom: -30px;
  }

  .pdpMain__gallery-thumbnails-item {
    width: 100%;
    cursor: pointer;
    transition: all .2s linear;
    padding-top: calc(100% - 4px);

    &:hover {
      border: 2px solid #F5F5F5;
    }

    .pdpMain__gallery-thumbnails-video-icon {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      color: white;

      svg {
        -webkit-filter: drop-shadow(0px 0px 10px #000000);
        filter: drop-shadow(0px 0px 10px #000000);
      }
    }
  }

  .pdpMain__gallery-thumbnails-item.current-thumbnail {
    border: 2px solid $color-dim-dark;
  }
}

.pdpMain__variant-image {
  background-color: #F5F5F5;
  margin-bottom: 16px;
  padding-top: 100%;

  @media screen and (max-width: $tablet) {
    margin-bottom: 0;
    padding-top: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }

    video {
      background-color: #000;
    }
  }

  .productCard__badge {
    top: 16px;
    right: 16px;
    background-color: #EBE9E9;
    font-size: 14px;
    line-height: 120%;

    @media screen and (max-width: $tablet) {
      top: 8px;
      right: 8px;
    }
  }
}

.pdpCopy__header {
  margin-bottom: 0;

  .pdpCopy__header-title {
    font-size: 48px;
    line-height: 100%;
    margin-bottom: 16px;

    @media screen and (max-width: $tablet) {
      font-weight: 500;
      font-size: 40px;
      margin-bottom: 0;
    }
  }
}

.pdpCopy__price {
  flex-shrink: 0;
}

.pdpCopy__price.hide-desktop {
  margin-top: 8px;
}

h2.pdpCopy__header-price,
.pdpCopy__header-price {
  margin: 0 0 0 10px;
  font-family: $font-header;
  font-size: 24px;
  line-height: 100%;

  @media screen and (max-width: $tablet) {
    font-size: 16px;
    margin: 0 0 8px 0;
  }
}

.pdpCopy__header-price-small {
  font-size: 16px;
  @media screen and (max-width: $tablet) {
    margin: 0 8px 8px 0;
  }
}

.price-round-arrow {
  position: absolute;
  top: -15px;
  left: 75%;
}

.pdp__tagline {
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  @media screen and (max-width: $tablet) {
    margin: 8px 0;
  }
}

.pdpMain__details {
  .option-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    margin-bottom: 16px;

    span {
      font-weight: normal;
      font-size: 14px;
    }

    [data-disabled-size="true"] {
      visibility: hidden;
      opacity: 0;
    }
  }

  .pdp__reviews {
    margin-bottom: 1rem;

    .yotpo-display-wrapper {
      .yotpo-icon.yotpo-icon-star, .yotpo-icon-half-star {
        margin: 0 10px 0 0;
        font-size: 20px !important;
      }

      .yotpo-bottomline.pull-left {
        display: flex;
        align-items: center;

        .text-m {
          margin: 0 0 0 12px;
          font-weight: normal;
          font-size: 14px;
          line-height: 120%;
        }
      }
    }
  }

  .pdpDetails__btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media screen and (max-width: $mobile) {
      flex-direction: column-reverse;
    }

    [data-bis] {
      margin-right: 16px;

      @media screen and (max-width: $mobile) {
        margin-right: 0;
      }
    }
  }

  .cart__button--select-size,
  .cart__button,
  .customize-btn {
    max-width: 320px;
    padding: 14px 20px;
    margin: 16px 16px 16px 0;
    border-radius: 12px;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0;
    text-transform: capitalize;
    cursor:pointer;

    @media screen and (max-width: $mobile) {
      max-width: 100%;
      margin: 12px 0;
    }
  }

  .customize-btn {
    width: 100%;
    max-width: 220px;
    padding: 13px 25px;
    margin: 16px 0 16px 0;
    font-size: 16px;
    white-space: nowrap;
    border: 2px solid #000000;
    box-sizing: border-box;
    color: #000000;
    background-color: transparent;

    @media screen and (max-width: $mobile) {
      max-width: 100%;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      display:none;
    }

    &:hover {
      background-color: #000000;
      color: #FFFFFF;
    }
  }

  .cart__button--select-size {
    display: none;
    width: 100%;
    background-color: #ABABAB;
    color: $color-white;
  }

  .pdpDetails__btns[data-disabled-size='true'] {
    #pdp-atc,
    #quickAdd,
    [data-bis] {
      display: none !important;
    }

    .cart__button--select-size {
      display: block;
    }
  }
}

#ProductQuickView {
  .cart__button--select-size {
    margin: 0;
  }
}

.pdpInfo {
  margin-top: 28px;
}

.pdpInfo-item {
  margin-bottom: 16px;
  background-color: #F5F5F5;
}

.pdpBadges-item {
  padding: 16px 12px;
  margin: 16px 0;
  background-color: $color-sand;
}

.pdpBadges-item-content-title,
.pdpBadges-item-link {
  font-family: $font-base;
  font-size: 14px;
  line-height: 120%;
}

.pdpBadges-item-content-title {
  padding: 0 8px;
  margin: 0;
}

.pdpBadges-item-link {
  white-space: nowrap;
  text-decoration: underline;
  font-weight: 500;
}

.pdpBadges-item--alt {
  padding: 0;
  margin-bottom: 32px;
  background: none;
}

.pdpVideo__Container {
  background-color: #000;
}

.pdpVideo__Wrapper {
  margin: 0 auto;
  padding: 80px 33px;
  max-width: 1440px;
  flex-direction: column;
  color: #ffffff;

  @media screen and (max-width: $tablet) {
    padding: 40px 15px;
  }
}

.pdpVideo__Copy {
  max-width: 850px;
  margin: 0 auto 48px;
  text-align: center;

  @media screen and (max-width: $tablet) {
    margin: 0 auto 24px;
  }

  h1, h2, h3 {
    margin: 0 0 24px 0;
    font-weight: 500;
    font-size: 72px;
    line-height: 100%;

    @media screen and (max-width: $large_desk) {
      font-size: 62px;
      margin: 0 0 16px 0;
    }

    @media screen and (max-width: $tablet) {
      font-size: 56px;
    }
  }


  h4, h5, h6, p {
    font-size: 20px;
    line-height: 120%;
    margin: 0 0 16px 0;
    font-weight: 400;

    @media screen and (max-width: $large_desk) {
      font-size: 18px;
    }

    @media screen and (max-width: $tablet) {
      font-size: 16px;
      line-height: 130%;
    }
  }

  h4, h5, h6 {
    font-family: $font-base;
    font-weight: 600;
    margin: 0;

    @media screen and (max-width: $tablet) {
      margin: 0 0 16px 0;
      line-height: 120%;
    }
  }

  a {
    text-decoration: underline;
  }
}

.pdpVideo__Content {
  z-index: 1;
  .cw svg path {
    fill: #FFFFFF;
  }

  .cb svg path {
    fill: #000000;
  }
}

.pdpVideo__Wrapper-row {
  padding: 64px 72px;
  flex-direction: row;
  align-items: center;

  @media screen and (max-width: $tablet) {
    padding: 40px 15px;
    flex-direction: column;
  }

  .pdpVideo__Copy {
    padding-right: 40px;
    margin: 0;
    flex: 1;
    text-align: left;

    @media screen and (max-width: $tablet) {
      flex: auto;
      padding: 0;
      margin: 0 auto 24px;
      text-align: center;
    }
  }

  .pdpVideo__Content {
    width: 100%;
    max-width: 58.7%;

    @media screen and (max-width: $tablet) {
      max-width: 100%;
    }
  }

  .video-section__load-player-button {
    width: 48px;

    @media screen and (max-width: $tablet) {
      width: 46px;
    }
  }
}

.pdpStickyBar {
  display: none;
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: 100%;
  height: auto;
  background-color: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  outline: none;

  .pdpStickyBar__wrapper {
    margin: 0 auto;
    padding: 16px 33px;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .pdpCopy__header {
    padding-top: 16px;
    padding-bottom: 5px;
  }

  .pdpCopy__header-title {
    margin: 0;
    font-size: 26px;
  }

  .pdpCopy__price {
    padding-top: 12px;
  }

  .pdpCopy__header-price {
    margin-left: 0;
    font-family: $font-base;
    font-size: 16px;
    line-height: 100%;
    font-weight: bold;
  }

  .pdpCopy__header-price-small {
    font-size: 14px;
    padding-right: 5px;
    font-weight: 500;
  }

  .pdp__options {
    padding: 8px 32px 8px 20px;
    flex: 1 1 auto;
  }

  .radio-group {
    flex-flow: row wrap;

    .radio {
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }

  #atc-sticky-wrapper {
    flex: 0 0 auto;
  }

  #pdp-sticky-atc {
    min-width: 172px;
    margin: 0;
  }

  .counter-wrapper {
    padding-right: 64px;
  }

  .option-groups .option-groups__group {
    &:not(:last-child) {
      margin-right: 20px;

      @media screen and (min-width: $large_desk + 1px) and (max-width: $larger_desk) {
        margin-right: 10px;
      }
    }
  }

  .cart__button {
    font-size: 16px;
  }

  .cart__button--select-size {
    margin: 0;
    min-width: 218px;
    pointer-events: none;
    border: 2px solid #ababab;

    @media screen and (max-width: $large_desk) {
      pointer-events: auto;
    }

    &:hover {
      border-color: transparent;
    }
  }

  [data-disabled-size="true"] {
    #pdp-sticky-atc {
      display: none;
    }

    .cart__button--select-size {
      display: block;
    }
  }
}

.pdpStickyBar.show {
  display: block;
}

.pdp__options {
  .radio-group:not([data-option-color]):not([data-option-material]):not([data-option-size]) .radio__title {
    @media screen and (min-width: $large_desk + 1px) and (max-width: $larger_desk) {
      padding: 13px 14px;
    }
  }

  .radio.checked {
    .radio__title {
      border-color: #ababab;
    }
  }

  .radio-group input:checked + .radio__title {
    border-color: #ababab;
  }

  .radio-group input:checked + .radio__title {
    &:before,
    &:after {
      border-color: #fff;
    }
  }
}

.pdpStickyBar__badge {
  .pdpBadges-item {
    max-width: 500px;
    margin: -9px 0;
  }

  .separator {
    margin: 6px 16px;
    font-size: 0;

    &::after {
      content: '';
      display: block;
      width: 2px;
      height: 28px;
      background: currentColor;
    }
  }
}

.pdp__sticky-options {
  display: flex;
  align-items: flex-start;
  flex-direction: row;

  .pdp__sticky-options-label {
    white-space: nowrap;
    padding-top: 10px;
  }

  .stickySize {
    .pdp__sticky-options-label {
      padding-top: 0;
    }
  }

  .pdp__sticky-options-label[data-option-label="Size"] {
    width: 127px;
  }

  .pdp__sticky-options-label[data-option-label="Size"] .option-title {
    max-width: 100%;
    padding: 8px 24px 8px 12px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 1.31;
    border: 1px solid #C2C2C2;
    border-radius: 5px;
    transition: border .4s, border-radius .4s .4s;
  }

  .pdp__sticky-options-label[data-option-label="Size"] .option-title strong {
    overflow: hidden;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .pdp__sticky-options-item {
    position: relative;
    margin: 0;

    @media screen and (min-width: $large_desk + 1px) and (max-width: $larger_desk) {
      flex: 0;
    }

    &:not(.hide) {
      display: flex;
    }

    &:first-child {
      flex: 1 1 auto;

      @media screen and (min-width: $large_desk + 1px) and (max-width: $larger_desk) {
        flex-basis: 180px;
        justify-content: flex-end;
      }
    }

    &:nth-child(2) {
      flex: 0 1 auto;
    }

    &:after {
      content: '';
      margin: 6px 16px;
      width: 2px;
      flex: 0 0 2px;
      height: 28px;
      background: currentColor;
    }

    .option-title {
      padding-right: 16px;
      margin: 0;
    }

    .option-title strong {
      font-weight: 500;
    }

    .pdp__sticky-dropdown-icon {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
      transition: all .2s linear;

      svg {
        position: absolute;
        top: 50%;
        right: 4px;
        width: 24px;
        height: 24px;
        margin-top: -12px;
        transition: all .2s linear;
      }
    }
  }

  .pdp__sticky-options-item.active {
    svg {
      transform: rotate(180deg);
    }
  }

  .radio.checked {
    .radio__title {
      &:before,
      &:after {
        border-color: #FFF;
      }
    }
  }

  .option-title {
    font-size: 16px;
  }

  .option-groups {
    margin: 0;
  }

  .option-groups-size {
    background-color: #fff;
  }

  .option-groups-size {
    display: none;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: 100%;
    max-width: 127px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;

    .radio:last-child {
      margin-bottom: 0;
    }

    .radio.checked {
      .radio__title {
        color: #ffffff;
        background-color: #585858;
      }
    }

    .radio .radio__title {
      padding: 12px;
      justify-content: flex-start;
      cursor: pointer;
      background-color: #fff;
      color: #000;
    }
  }

  .option-groups-size[data-disabled-size="true"] {
    .radio.checked {
      .radio__title {
        color: #000;
        background-color: transparent;
        cursor: pointer;
      }
    }
  }

  .option-groups__group {
    padding: 0;
  }

  .radio-group-size {
    margin: 0 !important;
  }
}

.pdp__options--ode-brew-grinder {
  .radio-group[data-option-burrs] {
    @media screen and (min-width: $large_desk + 1px) and (max-width: $larger_desk) {
      max-width: 320px;
    }
  }
}

.pdp__sticky-options-item {
  .radio-group {
    &[data-option-quantity]:not(.radio-group-size) {
      .radio {
        @media screen and (min-width: $large_desk + 1px) and (max-width: $larger_desk) {
          flex: 0 1 85px;
          white-space: nowrap;
        }
      }
    }
  }
}

.pdpStickyBar {
  @media screen and (max-width: $large_desk) {
    top: unset;
    bottom: 0;

    .pdpStickyBar__wrapper {
      padding: 16px;
      justify-content: center;
    }

    .counter-wrapper {
      padding-right: 20px;
    }

    #pdp-sticky-atc,
    .cart__button--select-size {
      min-width: 167px;
    }

    .pdpCopy__header,
    .pdp__options {
      display: none;
    }
  }
}

.keyFeatures {
  margin: 0 auto;
  padding: 32px 33px;
  max-width: 1440px;

  @media screen and (max-width: $tablet) {
    padding: 34px 0;
  }
}

.pdpJumboSlider {
  height: 53vw;
  padding: 0 !important;
  margin: 34px 0 -1px 0;

  .slider__controls {
    padding: 50px;
  }
}

.pdpRelatedProducts {
  max-width: 1440px;
  margin: 64px auto;
  overflow: hidden;

  @media screen and (max-width: $tablet) {
    padding: 0 16px;
  }

  .relatedProducts__title {
    margin: 0 0 24px 0;
    padding: 0 34px;
    font-size: 48px;
    line-height: 100%;

    @media screen and (max-width: $tablet) {
      font-size: 40px;
    }

    @media screen and (max-width: $mobile) {
      padding: 0;
    }
  }

  .radio-group,
  .relatedProducts__row-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
    ::-webkit-scrollbar {
      display: none;
    }
  }
}

.size__wrapper {
  width: 100%;
  padding: 8px;
  border: 2px solid transparent;
  border-radius: 6px;
  text-align: left;
  text-decoration: inherit;

  span {
    max-width: 80px;
    padding-top: 8px;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: none;
    text-decoration: inherit;
  }
}

.size__image-wrapper {
  width: 80px;
  height: 80px;
  padding: 8px 8px 0 8px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #F5F5F5;
}

.size__image-wrapper-icon {
  height: inherit;
  display: flex;
  justify-content: center;
  svg {
    width: 100%;
    fill: #DBDBDB;

    path {
      fill: #DBDBDB;
    }
  }
}

.heroSection {
  margin-bottom: 32px;

  .heroSection__copy {
    h1,h2,h3,h4,h5,h6 {
      margin: 0 0 20px 0;
      font-weight: normal;
      font-size: 72px;
      line-height: 100%;

      @media screen and (max-width: $tablet) {
        margin: 0 0 16px 0;
        font-weight: 500;
        font-size: 56px;
        line-height: 100%;
      }
    }
    p, a {
      margin-bottom: 20px;
      font-weight: normal;
      font-size: 20px;
      line-height: 120%;

      @media screen and (max-width: $tablet) {
        font-size: 16px;
        line-height: 130%;
      }
    }
    a {
      text-decoration: underline;
    }
  }
}

.heroSection__wrapper {
  padding: 64px 34px;
  margin: 0 auto;
  max-width: 1210px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: $tablet) {
    padding: 62px 15px 52px;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
  }
}

.heroSection__text-block {
  max-width: 500px;
  padding-right: 60px;

  @media screen and (max-width: $tablet) {
    padding: 0 5px;
    margin-bottom: 20px;
    text-align: center;
  }
}

.heroSection__image-block {
  max-width: 50%;

  @media screen and (max-width: $tablet) {
    max-width: 100%;
  }
}

.heroSection__image-block-round {
  max-width: 560px;
  border-radius: 50%;
  overflow: hidden;

  .heroSection__image {
    position: relative;
    padding-top: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }
}

.bundleDescription {
  padding: 24px;
  margin: 32px 0 16px;
  background-color: $color-dim-white;

  @media screen and (max-width: $tablet) {
    margin: 40px 0 24px;
  }
}

.bundleDescription__Heading {
  font-family: $font-base;
  margin: 0 0 16px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;

  @media screen and (max-width: $tablet) {
    font-weight: normal;
    line-height: 140%;
  }
}

.bundleDescription__Content:not(:last-child) {
  margin-bottom: 16px;
}

.bundleDescription__ContentImage {
  margin-right: 16px;
  width: 56px;
  height: 56px;

  @media screen and (max-width: $tablet) {
    width: 48px;
    height: 48px;
  }
}

.bundleDescription__ContentTitle,
.bundleDescription__ContentSubTitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.bundleDescription__ContentTitle {
  margin: 0 0 8px 0;
  text-decoration: underline;
  display: inline-block;

  &:last-child {
    margin-bottom: 0;
  }
}

.bundleDescription__ContentSubTitle {
  margin: 0;
}

#ProductQuickView {
  .option-groups__group .radio-group {
    width: 225px;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-left: 0;
    padding-left: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
    ::-webkit-scrollbar {
      display: none;
    }
  }

  .option-groups__group .radio-group[data-option-burrs] {
    overflow: visible;
  }

  .option-groups__group .radio-group[data-option-size] {
    width: 100%;
    flex-wrap: nowrap;
    margin-left: -5px;
    margin-top: -0.25rem;

    .radio__label-size-image {
      max-width: 92px;
      min-width: 92px;
      padding-top: 0;
    }
  }

  .pdpMain__details {
    .QuickView__FullPage {
      margin-top: 24px;
      display: block;
      font-size: 14px;
      line-height: 16px;
      text-decoration-line: underline;
    }
  }

  .size__wrapper span {
    max-width: 60px;
  }

  .size__image-wrapper {
    width: 100%;
    height: 60px;
  }

  .productCard__badge {
    display: none;
  }

  .radio-group:not([data-option-color]):not([data-option-material]) label {
    padding-left: .4em;
  }
}

.collectionHero {
  min-height: 310px;
  margin: 24px auto 0;
  max-width: 1440px;
  padding: 0 33px;
  display: flex;
  align-items: stretch;

  @media screen and (max-width: $tablet) {
    margin: 0;
    padding: 0;
    min-height: unset;
    flex-direction: column;
    align-items: center;
  }
}

.collectionHero__media,
.collectionHero__content {
  width: 50%;

  @media screen and (max-width: $tablet) {
    width: 100%;
  }
}

.collectionHero__media {
  @media screen and (max-width: $tablet) {
    height: 64vw;
    flex-direction: column;
    align-items: center;
  }
}

.collectionHero__content {
  padding: 32px 8.6% 32px 10.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $color-black;
  color: $color-white;

  @media screen and (max-width: $tablet) {
    padding: 32px 40px;
    justify-content: unset;
    align-items: center;
  }
}

.collectionHero__contentHeading {
  margin: 0 0 8px 0;
  font-weight: 500;
  font-size: 48px;
  line-height: 100%;

  @media screen and (max-width: $large_desk) {
    font-weight: normal;
    font-size: 33px;
    line-height: 100%;
  }

  @media screen and (max-width: $tablet) {
    text-align: center;
  }
}

.collectionHero__contentDescription {
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;

  @media screen and (max-width: $large_desk) {
    font-size: 16px;
  }

  @media screen and (max-width: $tablet) {
    text-align: center;
  }

  p {
    margin: 0 0 8px 0;
  }
}

.kl-private-reset-css-Xuajs1 > input,
.kl-private-reset-css-Xuajs1 > .go2323703347,
.kl-private-reset-css-Xuajs1 > .go581579764,
.kl-private-reset-css-Xuajs1 > .go1867856768,
.kl-private-reset-css-Xuajs1 > .go1245633538,
{
  border-radius: 12px !important;
}

// Gift wrapping

.cart-gift-wrapping {
  padding: 0 22px;
}

.cart-gift-wrapping-header {
  padding: 20px;
  margin: 16px 0;
  border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #DBDBDB;

  @media screen and (max-width: $tablet) {
    padding: 13px 0;
    margin: 8px 0;
  }

  span {
    max-width: 70%;
    padding-right: 16px;
    font-size: 16px;
    line-height: 130%;
  }

  .wrapping-result-message {
    max-width: 100%;
  }
}

.cart-gift-wrapping-icon {
  width: 26px;
  height: 26px;
  margin-right: 30px;

  @media screen and (max-width: $tablet) {
    margin-right: 10px;
  }

  svg {
    width: 100%;
  }
}

.cart-gift-wrapping-btn {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  font-size: 14px;
  line-height: 16px;
  text-decoration: underline;
}

.cart-gift-wrapping-modal {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 3;
  display: flex;
  flex-direction: column;
  transition: all var(--medium) var(--ease);
}

.cart-gift-wrapping-modal[aria-expanded='true'] {
  transform: translateX(0);
}

.cart-gift-wrapping-modal__content {
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
  ::-webkit-scrollbar {
    display: none;
  }

  .cart-drawer__item {
    padding: 25px 32px 25px 22px;
    border: none;
  }
}

.cart-gift-wrapping-modal__content-header {
  padding: 19px 24px;
  font-family: $font-header;
  font-weight: 500;
  font-size: 26px;
  line-height: 100%;
  text-align: center;
  background-color: #FFF9E5;

  button {
    position: absolute;
    right: 24px;
    top: 50%;
    height: 20px;
    transform: translateY(-50%);
    background-color: transparent;
  }
}

.cart-gift-wrapping-modal__note {
  padding: 16px 32px 16px 22px;

  label {
    margin-bottom: 16px;
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
  }

  #cart-note {
    width: 100%;
    height: 175px;
    padding: 14px 18px;
    margin-bottom: 8px;
    border: 1px solid #C2C2C2;
    border-radius: 5px;
    position: relative;
    font-family: $font-base;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    outline: none !important;

    &::placeholder {
      color: #ABABAB;
      font-size: 16px;
    }

    &::-webkit-resizer {
      display: none;
    }
  }

  .cart-note-wrapper {
    &:before,
    &:after {
      content: '';
      position: absolute;
      bottom: 6px;
      display: block;
      height: 1px;
      background-color: #C2C2C2;
    }

    &:after {
      width: 16px;
      right: 16px;
      transform: rotate(-45deg) translateX(10px);
    }

    &:before {
      width: 34px;
      right: 18px;
      transform: rotate(-45deg) translateX(18px);
    }
  }

  .note-length {
    font-size: 14px;
    line-height: 120%;
    color: #ABABAB;
  }
}

.cart-gift-wrapping-modal__footer {
  padding: 32px 22px;
  background-color: $color-black;

  button {
    width: calc(50% - 4px);
    padding: 16px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: capitalize;
  }

  .btn--dark {
    border: 2px solid $color-white;
  }

  .btn--light {
    &:hover {
      border: 2px solid $color-white;
    }
  }
}

.gwp-point-text {
  position: absolute;
  top: 125%;
  transform: translateX(-20%);
  font-size: 13px;
  font-weight: 700;
}

.gwp-nostack-text {
  font-weight: 500;
  color: #000;
  text-transform:none;
  text-align: center;
  margin: 0;
}

.gwp-point {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-50%);
  display: block;
  width: 2px;
  height: 150%;
  background-color: #fff;
}

.pdpMain__bundle-gallery-wrapper {
  padding: 0 8px 0 0;
  margin: -8px 0 -8px -8px;
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: $tablet) {
    margin: -4px 0 -4px;
    padding: 0;
  }
}

.pdpMain__bundle-gallery-wrapper.slick-initialized {
  display: block;
  flex-wrap: unset;
}

.pdpMain__bundle-image-wrapper {
  width: calc(50% - 16px);
  padding-top: calc(50% - 16px);
  margin: 8px;
  background-color: #f5f5f5;
  overflow: hidden;

  @media screen and (max-width: $tablet) {
    width: calc(50% - 8px) !important;
    padding-top: calc(50% - 8px);
    margin: 4px;
  }
}

.pdpMain__bundle-image {
  top: 0;
  left: 0;
  z-index: 1;
  visibility: hidden;
}


.pdpMain-bundle__details {
  .pdpCopy__price {
    margin: 14px 0 auto;

    @media screen and (max-width: 992px) {
      margin: 8px 0;
    }
  }

  .pdpStickyBar .pdpCopy__price {
    margin: 0;
  }
}

.bundle-mix {
  display: block;
}

.bundle-product,
.upsell-product {
  margin-bottom: 25px;
  padding: 24px;
  display: flex;
  align-items: center;
  background-color: #fff9e5;
  overflow: hidden;

  @media screen and (max-width: $tablet) {
    align-items: unset;
  }

  .radio-group {
    input:checked + .radio__title:before,
    input:checked + .radio__title:after {
      border-color: #fff;
    }

    &[data-option-color],
    &[data-option-material] {
      input:checked + .radio__title {
        border-color: #000000;
      }
    }

    &:not([data-option-color]):not([data-option-material]):not([data-option-size]) {
      .radio__title span {
        white-space: normal !important;
      }
    }
  }
}

.bundle-product {
  align-items: center;

  .bundle-product__header {
    margin: 0 0 16px 0;
    display: flex;
    align-items: center;
  }

  .bundle-product__option-group {
    .bundle-radio-group[data-option-color] {
      margin-right: 22px;

      @media screen and (max-width: 992px) {
        margin-right: 13px;
      }
    }
  }
}

.bundle-product__heading {
  margin: 0 0 23px;
  font-family: $font-base;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}

.bundle-product__icon-wrapper {
  width: 82px;
  height: 82px;
  min-width: 82px;

  @media screen and (max-width: $tablet) {
    width: 48px;
    height: 48px;
    min-width: 48px;
  }

  img {
    z-index: 1;
    visibility: hidden;
  }
}

.bundle-product__title-wrapper {
  margin: 0 0 8px 0;
  display: flex;
  flex-direction: column;
}

.bundle-product__description {
  padding-left: 16px;
  margin-bottom: -8px;
}

.bundle-product__description-title,
.bundle-product__title {
  margin: 0 0 8px 0;
  font-family: $font-base;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
}

.bundle-product__title {
  margin: 0;
}

.bundle-product__option-info {
  margin: 2px 0 0 0;
  font-size: 14px;
  line-height: 120%;
}

.bundle-product__option-group,
.upsell-product__option-group {
  .option-title {
    margin-bottom: 8px;
  }

  .bundle-radio-group,
  .upsell-radio-group {
    margin-bottom: 8px;
    margin-right: 8px;

    @media screen and (max-width: $tablet) {
      margin-right: 13px;
    }
  }

  [data-option-size] .bundle-radio.unavailable {
    position: relative;
    pointer-events: none;
    text-decoration: line-through;
  }

  [data-option-color] .bundle-radio.unavailable {
    position: relative;
    pointer-events: none;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 2px;
      background-color: #c2c2c2;
      display: block;
      transform: translate(-50%, -50%) rotate(-45deg);
      z-index: 2;
    }
  }
}

.bundle-product__radio-group,
.upsell-product__radio-group {
  flex-wrap: wrap;

  .radio-group[data-option-size] {
    &,
    input:checked+.radio__title {
      &::after {
        display: block !important;
        content: '' !important;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-color: #585858;
        box-shadow: 0 0 0 2px #fff inset;
      }
    }
  }
}

.bundle-mix__multiple-wrapper {
  display: block;
}

.bundle-mix__multiple {
  .bundle-product {
    border: 1px solid #969696;
    border-radius: 12px;

  }
}

.upsell-product:empty {
  display: none;
}

.upsell-product__wrapper {
  padding: 0;
  display: flex;
  background: #fff9e5;
}

.upsell-product__image-wrapper {
  width: 140px;
  min-width: 140px;
  height: 140px;
  background-color: $color-white;

  img {
    visibility: hidden;
  }

  @media screen and (max-width: $tablet) {
    width: 96px;
    min-width: 96px;
    height: 96px;
  }
}

.upsell-product__content {
  flex-grow: 1;
  padding-left: 16px;
}

.upsell-product__content-title {
  margin: 0 0 8px 0;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;

  @media screen and (max-width: $tablet) {
    font-size: 18px;
    flex-direction: column;
    justify-content: unset;
  }
}

.upsell-product__content-price {
  font-family: $font-base;
  font-weight: normal;
  font-size: 24px;
  line-height: 120%;
  margin-left: 10px;

  @media screen and (max-width: $tablet) {
    margin-top: 8px;
    font-size: 16px;
    margin-left: 0;
  }
}

.upsell-product__content-description {
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;

  @media screen and (max-width: $tablet) {
    font-size: 14px;
    line-height: 120%;
  }
}

#pdp-product-upsell-atc {
  padding: 0;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  background-color: transparent;
  text-decoration: underline;
}

#pdp-product-upsell-atc[disabled] {
  pointer-events: none;
}

// Search

.searchForm {
  position: relative;

  @media screen and (max-width: $tablet) {
    margin-left: 16px;
    margin-right: 16px;
  }
}

.searchForm__input {
  width: 100%;
  padding: 16px 50px 14px 20px;
  font-size: 16px;
  line-height: 130%;
  border-radius: 5px;
  border: 1px solid #C2C2C2;

  &:focus {
    border: 1px solid #000;
    border-radius: 5px;
  }
}

.searchForm__resetInput {
  font-size: 0;
  height: 0;
  padding: 0;

  &:focus + label {
    outline: 2px solid blue;
  }
}

.searchForm__resetLabel {
  position: absolute;
  top: 2px;
  right: 30px;
  padding: 10px;
  cursor: pointer;

  @media screen and (max-width: $tablet) {
    top: 3px;
  }

  svg {
    width: 13px;
    height: 13px;
    stroke-width: 1;
  }
}

.searchForm__Submit {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: $tablet) {
    transform: translateY(-66%);
  }

  &:focus {
    outline: 2px solid blue;
  }

  svg {
    width: 16px;
    height: 16px;
    vertical-align: middle;
  }
}

.headerSearch__resetLabel {
  display: none;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 280;
  }
  50% {
    stroke-dashoffset: 75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 280;
    transform: rotate(450deg);
  }
}

.headerSearch:not(.loading) .headerSearch__results__loadingState {
  display: none;
}

.headerSearch__results__loadingState {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 40px;
  right: 20px;

  .spinner {
    animation: rotator 1.4s linear infinite;
  }

  .path {
    stroke-dasharray: 280;
    stroke-dashoffset: 0;
    transform-origin: center;
    stroke: currentColor;
    animation: dash 1.4s ease-in-out infinite;
  }
}

.headerSearch__resultsText,
.headerSearch__emptyResults {
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  margin: 0 0 24px;
  color: #232323;

  @media screen and (max-width: $tablet) {
    margin: 0 0 16px;
  }
}

.headerSearch__emptyResults {
  margin: 0;
}

.search__popularHeading,
.searchBestSellers__heading {
  margin: 16px 0 8px;
  font-weight: 500;
  font-size: 38px;
  line-height: 100%;
  color: #232323;

  @media screen and (max-width: $tablet) {
    font-size: 16px;
    line-height: 120%;
    font-weight: bold;
    margin: 16px 0;
    font-family: $font-base;
  }
}

.searchBestSellers__heading {
  @media screen and (max-width: $tablet) {
    margin-bottom: 24px;
  }
}

.headerSearch__results {
  padding: 30px 20px;
  transition: all .4s linear;
  border: 1px solid #ABABAB;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: none;
  margin: -5px auto 0;
  max-width: 1440px;
  position: relative;

  @media screen and (max-width: $tablet) {
    margin: 24px 0 0;
    padding: 24px 16px 0;
    border: none;
    border-top: 1px solid #DBDBDB;
    border-radius: 0;
  }
}

.headerSearch__results[aria-hidden="false"] {
  display: block;
}

.headerSearch__item {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 130%;
  display: block;

  &:last-child {
    margin-bottom: 0;
  }
}

.search__popular {
  padding: 24px 0 0;

  @media screen and (max-width: $tablet) {
    padding: 14px 0 0;
  }
}

.search__popular--header.search__popular--hide-desktop {
  @media screen and (min-width: $tablet) {
    display: none!important;
  }
}

.search__popularImageWrapper {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;

  @media screen and (max-width: $mobile) {
    padding-bottom: 108%;
  }
}

.headerSearch__emptyResults {
  display: none;

  @media screen and (max-width: $mobile) {
    text-align: center;
  }
}

.search__popularImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.search__popularGrid,
.searchBestSellers__content {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 16px);
  margin-left: -8px;
}

.search__popularItem ,
.searchBestSellers__item {
  width: 25%;
  padding: 8px;
  flex-shrink: 0;

  @media screen and (max-width: $mobile) {
    width: 50%;
  }
}

.searchBestSellers__item {
  @media screen and (max-width: $mobile) {
    width: calc(50vw - 8px);
    flex: auto 0 0;
  }
}

.search__popularItemHeading {
  margin: 15px 0;
  text-align: center;
  font-family: $font-base;
  font-weight: normal;
  font-size: 16px;
}

.searchMain {
  padding: 65px 30px 25px;

  @media screen and (max-width: $tablet) {
    padding: 30px 16px 10px;
  }
}

.searchFormMain {
  max-width: 1150px;
  margin: 0 auto;
}

.searchMain__searchSize {
  font-size: 14px;
  line-height: 120%;
  margin-bottom: 24px;

  @media screen and (max-width: $tablet) {
    margin: 25px 0 10px;
  }
}

.search__popular--mainWrapper,
.searchForm,
.searchBestSellers {
  max-width: 1440px;
  margin: 0 auto;
}

.searchForm {
  @media screen and (max-width: $tablet) {
    margin: 0 16px;
  }
}

.searchMain__resultHeading {
  font-weight: 500;
  font-size: 48px;
  line-height: 100%;
  margin: 0;

  @media screen and (max-width: $tablet) {
    font-size: 33px;
  }
}

.searchMain__empty {
  padding: 40px 0 60px;
  border-bottom: 1px solid #ABABAB;
  text-align: center;

  @media screen and (max-width: $tablet) {
    padding: 25px 0;
  }
}

.searchBestSellers {
  margin-top: 40px;

  .relatedProducts__row {
    @media screen and (max-width: $mobile) {
      margin-left: -16px;
    }

    @media screen and (min-width: $mobile) {
      padding: 8px 0 0 0;
    }
  }

  .relatedProducts__item {
    @media screen and (max-width: $mobile) {
      padding-left: 16px;
      width: calc(50vw - 8px);
    }
  }

  .relatedProducts__row-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@keyframes animation-loading-line {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}

.searchMain__gridItem {
  width: calc(100% / 3 - 12px);
  flex-shrink: 0;
  padding: 12px 0;

  &.searchMain__gridItem--Loading {
    .bg-animation {
      background-color: #f2f2f2;
      background-image: linear-gradient(90deg, #f2f2f2, #f6f6f6, #f2f2f2 );
      background-size: 200px 100%;
      background-repeat: no-repeat;
      border-radius: 4px;
      animation: animation-loading-line 1.2s ease-in-out infinite;
    }

    .productCard__details {
      margin-top: 10px;
      height: 50px;
    }
  }
}

.filter-group:only-child {
  @media screen and (max-width: $tablet) {
    .dropdownHeader {
      border-top: 0;
      margin-top: 0;
    }
  }
}

.searchMain__content {
  display: flex;
  padding: 0;

  .collection__products {
    @media screen and (min-width: $tablet) {
      padding: 60px 0 0 ;
    }
  }

  .collection__products-filter-results {
    @media screen and (min-width: $tablet) {
      top: 10px;
    }
  }

  .filter-group-mobile [data-mobile-filter] {
    padding: 0;
  }

  .searchMain__searchSize {
    margin-bottom: 12px;
  }
}

.searchForm__Input {
  @media screen and (min-width: $tablet) {
    border-color: #ABABAB;
  }
}

.search__popular--main {
  @media screen and (min-width: $tablet) {
    padding-top: 44px;
  }
}

ul.pdp_details__feature_list {
  list-style: unset;
  padding: 0 16px;
}
ul.pdp_details__feature_list > li {
  margin: 0 0 16px;
}

/* PDP Options */
.radio-group {
  &:not([data-option-color]):not([data-option-material]):not([data-option-size]) {
    .radio__title {
      padding: 13px 16px;

      @media screen and (max-width: $tablet) {
        height: auto;
      }
    }
  }
}

.radio-group[data-option-bag-size] input:checked+.radio__title,
.radio-group[data-option-size] input:checked+.radio__title {
  position: relative;
  color: #000;

  &::after {
    content: '';
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
  }
}

.radio-group[data-option-quantity] input:checked+.radio__title:after,
.radio-group[data-option-burrs] input:checked+.radio__title:after,
.radio-group[data-option-bag-size] input:checked+.radio__title:after,
.pdp__sticky-options-item .radio-group:not([data-option-color]):not([data-option-material]):not([data-option-size]) .radio.checked:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-color: #c2c2c2;
  box-shadow: 0 0 0 2px #fff inset;
}

.radio-group[data-option-size] input:checked+.radio__title:after {
  display: none;
}

[data-disabled-size="true"] .radio-group[data-option-size] {
  input {
    &:checked+.radio__title-size-image {
      color: #000 !important;
    }

    &:checked+.radio__title-size-image {
      color: #000;
    }
  }
}

.productCard h1,
.productCard h2,
.productCard h3,
.productCard h4,
.productCard .h1,
.productCard .h2,
.productCard .h3,
.productCard .h4,
.productCard .drawerItem__title {
  @media screen and (max-width: $tablet) {
    margin-bottom: 8px;
  }
}

/* ------------------------------------------------------------ *\
  Quickview
\* ------------------------------------------------------------ */

#ProductQuickView .option-groups__group {
  .radio-group:not([data-option-color]):not([data-option-material]):not([data-option-size]) {
    margin-left: -1rem;
  }

  .radio-group[data-option-burrs] label {
    padding-left: 0;
  }
}

/* ------------------------------------------------------------ *\
  Coffee Marketplace Page
\* ------------------------------------------------------------ */

.cmHeading {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 100%;
  color: inherit;

  @media screen and (max-width: $tablet) {
    font-size: 33px;
  }
}

.cmDescription {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;

  @media screen and (max-width: $tablet) {
    font-size: 18px;
  }
}

/* ------------------------------------------------------------ *\
  Trevor
\* ------------------------------------------------------------ */

.pride_trevor {
  width: 100%;
  background: #FFF9E5;
  color: #000000;
  margin-bottom: 0 !important;
}
.pride_trevor_container {
  padding: 64px 34px;
  margin: 0 auto;
  max-width: 1210px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pride_trevor_icon_slot {
  background: #ffffff;
  padding: 100px 65px;
  max-width: 360px;
  max-height: 360px;
  border-radius: 100%;
}

.pride_trevor_icon {
  max-width:100%;
  max-height:100%;
  height: auto;
}

.pride_trevor_text {
  max-width:700px;
}

.pride_trevor_text a{
  text-decoration: underline;
  font-weight: bold;
}

.second--cta {
  margin-top: 24px !important;
}

/* ------------------------------------------------------------ *\
  Modal dialog
\* ------------------------------------------------------------ */

modal-dialog {
  position: fixed;
  top: 0;
  left: 0;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all .2s linear;
  background: rgba(0,0,0,.5);
  visibility: hidden;
  opacity: 0;
  z-index: 10;
}

modal-dialog[open] {
  visibility: visible;
  opacity: 1;
}

modal-dialog [aria-modal] {
  position: relative;
}

modal-dialog .modal-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  padding: 8px;
  background-color: transparent;

  @media screen and (max-width: $mobile) {
    width: 30px;
    height: 30px;
  }
}

modal-opener {
  display: block;
}

/* ----------------------
 Dropdown
  ----------------------- */

[data-dropdown-content] {
  display: none;
}

[data-dropdown].active [data-dropdown-content] {
  display: block;
}

[data-slide-target] {
  cursor: pointer;
  .slide-toggle-active {
    display: none;
  }
}

[data-slide-target].active {
  .slide-toggle-active {
    display: block;
  }
  .slide-toggle-inactive {
    display: none;
  }
}

[data-slide-content] {
  transition: all .2s ease-in-out;
  overflow: hidden;
}

[data-slide-content]:not(.active) {
  display: none;
}