[data-color=matte-black],
[data-material=matte-black] {
  color: var(--matteblack)
}

[data-color=matte-white],
[data-material=matte-white],
[data-color=white] {
  color: #fff
}

[data-color=maroonish] {
  color: #782132
}

[data-color=deep-blue] {
  color: var(--navy)
}

[data-color=graphite],
[data-color=cool-grey] {
  color: #555247
}

[data-color=slate-grey] {
  color: #848484
}

[data-color=smoke-grey],
[data-material=smoke-grey] {
  color: #929b9b
}

[data-color=matte-grey],
[data-material=matte-grey] {
  color: #e7e8e6
}

[data-color=monochrome-stone-blue] {
  color: #293843
}

[data-color=polished-steel] {
  color: var(--polishedsteel)
}

[data-color=polished-copper] {
  color: #f7b484
}

[data-color=clear-glass] {
  color: #fff
}

[data-material=clear-glass] {
  color: var(--polishedsteel)
}

[data-color=golden-yellow],
[data-material=golden-yellow],
[data-color=golden-hour],
[data-material=golden-hour] {
  color: #ffcc4e
}

[data-color=dusk-blue],
[data-material=dusk-blue] {
  color: #5884a5
}

[data-color=warm-pink],
[data-material=warm-pink] {
  color: #fcdee0
}

[data-color=corduroy-red],
[data-material=corduroy-red] {
  color: #c04c36
}

[data-color=cargo-green],
[data-material=cargo-green] {
  color: #2b4b35
}

[data-color=house-plants],
[data-material=house-plants] {
  color: #fff
}

[data-color=house-plants]:after,
[data-material=house-plants]:after {
  color: #658339
}

[data-color=matte-black-walnut],
[data-material=matte-black-walnut] {
  color: var(--matteblack)
}

[data-color=matte-black-walnut]:after,
[data-material=matte-black-walnut]:after {
  color: #977459
}

[data-color=matte-black-maple],
[data-material=matte-black-maple] {
  color: var(--matteblack)
}

[data-color=matte-black-maple]:after,
[data-material=matte-black-maple]:after {
  color: #edc890
}

[data-color=warm-pink-maple],
[data-material=warm-pink-maple] {
  color: #fbdadf
}

[data-color=warm-pink-maple]:after,
[data-material=warm-pink-maple]:after {
  color: #edc890
}

[data-color=peace-in-between],
[data-material=peace-in-between] {
  color: #fbdadf
}

[data-color=peace-in-between]:after,
[data-material=peace-in-between]:after {
  color: #FFCC4E
}

[data-color=shan-shui],
[data-material=shan-shui] {
  color: #ffffff
}

[data-color=shan-shui]:after,
[data-material=shan-shui]:after {
  color: #A48CC6
}

[data-color=the-caffeinated-cranium],
[data-material=the-caffeinated-cranium] {
  color: #000000
}

[data-color=the-caffeinated-cranium]:after,
[data-material=the-caffeinated-cranium]:after {
  color: #D4BF59
}


[data-color=little-house-in-a-big-city],
[data-material=little-house-in-a-big-city] {
  color: #000000
}

[data-color=little-house-in-a-big-city]:after,
[data-material=little-house-in-a-big-city]:after {
  color: #FFFFFF
}


[data-color=pride-in-the-forest],
[data-material=pride-in-the-forest] {
  color: #FFF4BC
}

[data-color=pride-in-the-forest]:after,
[data-material=pride-in-the-forest]:after {
  color: #A0B71F
}

[data-color=cheers-queers],
[data-material=cheers-queers] {
  color: #000000
}

[data-color=cheers-queers]:after,
[data-material=cheers-queers]:after {
  color: #EA99D1
}

[data-color=personal-growth],
[data-material=personal-growth] {
  color: #000000
}

[data-color=personal-growth]:after,
[data-material=personal-growth]:after {
  color: #F0AA4D
}

[data-color=queer-kinship-is-a-love-spell],
[data-material=queer-kinship-is-a-love-spell] {
  color: #ffffff
}

[data-color=queer-kinship-is-a-love-spell]:after,
[data-material=queer-kinship-is-a-love-spell]:after {
  color: #EDABC0
}

[data-color=really-red] {
  color: #9C182F;
}

[data-color=peri-twinkle] {
  color: #C6B4E3;
}

[data-color=buttered-popcorn],
[data-material=buttered-popcorn] {
  color: #FCF9C0
}

[data-color=mint-chip],
[data-material=mint-chip] {
  color: #C4DBC1
}

[data-color=boxed-wine],
[data-material=boxed-wine] {
  color: #B2025A
}

[data-color=stone-blue-walnut],
[data-material=stone-blue-walnut] {
  color: #2B3C4D
}

[data-color=stone-blue-walnut]:after,
[data-material=stone-blue-walnut]:after {
  color: #977459
}

[data-color=stone-blue-maple],
[data-material=stone-blue-maple] {
  color: #2B3C4D
}

[data-color=stone-blue-maple]:after,
[data-material=stone-blue-maple]:after {
  color: #edc890
}

[data-color=matte-white-maple],
[data-material=matte-white-maple] {
  color: #FFFFFF
}

[data-color=matte-white-maple]:after,
[data-material=matte-white-maple]:after {
  color: #edc890
}

[data-color=maple],
[data-material=maple] {
  color: #edc890;
}

[data-color=walnut],
[data-material=walnut] {
  color: #977459;
}

[data-color=cherry],
[data-material=cherry] {
  color: #895732;
}

[data-color=matte-black-cherry],
[data-material=matte-black-cherry] {
  color: #000000;
}

[data-color=matte-black-cherry]:after,
[data-material=matte-black-cherry]:after {
  color: #895732;
}

[data-color=cream-maple],
[data-material=cream-maple] {
  color: #EFE5D4;
}

[data-color=cream-maple]:after,
[data-material=cream-maple]:after {
  color: #edc890;
}

[data-color=slate-grey-maple],
[data-material=slate-grey-maple] {
  color: #848484;
}

[data-color=slate-grey-maple]:after,
[data-material=slate-grey-maple]:after {
  color: #edc890;
}

[data-color=cream],
[data-material=cream] {
  color: #EFE5D4;
}