@import '../helpers/_variables';

.collection-wrapper {
  display: block;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}


.collection__products-wrapper {
  width: 100%;
  padding: 30px 32px 0;

  @media screen and (max-width: $tablet) {
    padding: 24px 16px 0;
  }
}

.facet-wrapper {
  width: 100%;
  padding: 0 32px;
  position: sticky;
  top: var(--header-height);
  background-color: #FFFFFF;
  z-index: 4;

  @media screen and (max-width: $tablet) {
    padding: 0 16px;
  }
}

.facet-form {
  position: static;
  top: unset;
  pointer-events: none;
}

.facet-group {
  width: 100%;
  padding: 0 16px;

  .facet-group-name {
    margin: 16px 0 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  .facet-group-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    white-space: nowrap;
  }

  .facet-group__list {
    display: flex;
    flex-wrap: wrap;
  }

  .facet-group__list-item {
    margin: 0 5px 5px 0;
    color: #000000;
  }

  .facet-group__list-item-color {
    margin: 0 0 24px;

    .facet-group-radio {
      padding: 0;
      border: none;
    }

    .facet-group-title {
      display: none;
    }
  }

  @media screen and (max-width: $tablet) {
    max-width: 100%;
    padding: 0;

    .facet-group-name {
      font-family: $font-base;
      margin: 20px 0 10px;
    }

    .facet-group__list {
      max-width: 100%;
      flex-wrap: nowrap;
      overflow-x: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
      ::-webkit-scrollbar {
        display: none;
      }
    }

    .facet-group-title {
      font-size: 16px;
    }

    .facet-group__list-item {
      margin: 0 16px 0 0;
      border-radius: 12px;
    }

    .facet-group__list-item-color {
      margin: 0 16px 0 0;

      .facet-group-radio {
        padding: 8px;
      }
      .facet-group-title {
        display: inline-block;
      }
    }

  }
}

.facet-group-wrapper {
  display: flex;
  flex: 1 1 0;
  padding: 0;
  border-bottom: 1px solid #C2C2C2;
  max-height: calc(100vh - var(--header-height) - 100px);
  -ms-overflow-style: none;
  scrollbar-width: none;

  @media screen and (max-width: $tablet) {
    flex: unset;
    flex-direction: column;
    padding: 0 0 26px;
  }
}

.facet-header {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #C2C2C2;

  button,
  [data-slide-target] {
    padding: 0 4px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    background-color: transparent;
  }

  .selected-facets-count {
    margin: 0 4px;
  }

  [data-clear-facets] {
    text-decoration: underline 1px;
    text-underline-offset: 2px;
    order: 1;
    white-space: nowrap;
  }

  [data-slide-target="facets"] {
    display: flex;
    align-items: center;
    order: 2;
    white-space: nowrap;
  }

  [data-slide-target="facets"] > * {
    order: 4;
  }

  .facet-header-sort-by {
    order: 3;
    white-space: nowrap;
  }

  @media screen and (max-width: $tablet) {
    justify-content: space-between;

    [data-clear-facets] {
      order: 2;
    }

    [data-slide-target="facets"] {
      order: 1;
      font-size: 18px;

      svg {
        margin-right: 6px;
        order: 1;
      }
    }

    button,
    [data-slide-target] {
      font-size: 16px;
    }
  }
}

.facet-header-sort-by {
  padding-left: 26px;
  .facet-header-sort-by-opener {
    padding-right: 35px;
    svg {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      transition: all .2s linear;
    }
  }

  .facet-group-radio {
    padding: 8px;
    display: block;
    text-align: right;
    font-weight: 500;
    font-size: 14px;
    border-radius: unset;
    border: none;
    background-color: #fff;
  }

  .facet-group-radio:hover,
  .facet-group-input:checked + .facet-group-radio {
    background-color: #ebe9e9;
  }

  @media screen and (max-width: $tablet) {
    padding-left: 4px;
  }
}

.facet-header-sort-by.active {
  .facet-header-sort-by-opener svg {
    transform: translateY(-50%) rotate(180deg);
  }
}

.facet-header-sort-by-list {
  position: absolute;
  top: 150%;
  right: 0;
  border: 1px solid #DBDBDB;
  width: 200px;
  background-color: #FFFFFF;
  z-index: 4;
  max-height: calc(100vh - var(--header-height) - 100px);
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.facet-header-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  flex-grow: 1;
  margin: 0;

  @media screen and (max-width: $tablet) {
    display: none;
  }
}

.facet-group-radio {
  padding: 8px 20px;
  border: 1px solid #C2C2C2;
  border-radius: 32px;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  cursor: pointer;

  @media screen and (max-width: $tablet) {
    padding: 8px 16px;
    border-radius: 12px;
    background-color: #F5F5F5;
    border: none;
  }
}

.facet-group-input {
  display: none;
}

.facet-group-input:checked+.facet-group-circle,
.facet-group-input[data-color]:checked+.facet-group-circle {
  &:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    background-color: $color-black;

    @media screen and (max-width: $tablet) {
      width: 20px;
      height: 20px;
    }
  }
}

.facet-group-circle {
  width: 24px;
  height: 24px;
  margin: 0 16px 0 0;
  border: 2px solid #ABABAB;
  flex-shrink: 0;
  border-radius: 50%;
  cursor: pointer;

  @media screen and (max-width: $tablet) {
    margin: 0 10px 0 0;
    width: 20px;
    height: 20px;
  }
}


.filter-group-input:checked + .facet-group-radio {
  border: 1px solid #000;
  background-color: #EBE9E9;
}

.facet-group__list-item-color {
  .filter-group-input:checked + .facet-group-radio  {
    border: none;
    background-color: transparent;

    .facet-group-circle {
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: 2px solid black;
      }
    }

    .facet-group-title {
      display: -webkit-box;
      position: absolute;
      top: calc(100% + 4px);
      left: 12px;
      transform: translateX(-50%);
    }
  }
}

@media screen and (min-width: $tablet-up) {
  .facet-group__list-item-color {
    .facet-group-title {
      text-align: center;
    }
  }
}

@media screen and (max-width: $tablet) {
  .filter-group-input:checked + .facet-group-radio {
    border: none;
    background-color: #000;

    .facet-group-title {
      display: inline-block;
      color: #FFF;
    }
  }

  .facet-group__list-item-color {
    .filter-group-input:checked + .facet-group-radio  {
      border: none;
      background-color: #000;

      .facet-group-circle {
        &:after {
          width: 24px;
          height: 24px;
          border: 2px solid white;
        }
      }

      .facet-group-title {
        display: inline-block;
        position: static;
        top: unset;
        left: unset;
        transform: unset;
      }

    }
  }
}

.filter-group-input {
  display: none;
}

.collection__product-title.skeleton {
  height: 20px;
  width: 80%;

  @media screen and (max-width: $large_desk) {
    width: 30%;
  }
}

.productCard__img.skeleton {
  border-radius: 12px
}

.productCard__title.skeleton,
.productCard__price.skeleton,
.productCard_ratings.skeleton {
  height: 14px;
}

.productCard__title.skeleton {
  width: 80%;
}

.productCard__price.skeleton {
  width: 15%;
}

.productCard_ratings.skeleton {
  width: 40%;
}

.collection__product-item {
  display: flex;

  @media screen and (max-width: $large_desk) {
    flex-direction: column;
  }
}

.collection__product-title {
  padding-right: 24px;
  margin: 0 0 15px 0;
  font-weight: 500;
  font-size: 38px;
  line-height: 100%;

  @media screen and (max-width: $tablet) {
    padding-right: 0;
    margin: 0 0 8px 0;
    font-size: 26px;
  }
}

.collection__product-info {
  @media screen and (max-width: $large_desk) {
    display: none;
  }
}

.collection__product-info-item {
  margin: 0 0 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}

.collection__product-info-link {
  margin-bottom: 15px;
  display: block;
  text-decoration: underline;
}

.collection__product-content {
  width: 21%;
  padding-right: 15px;

  .productCard_ratings {
    margin: 15px 0;
  }

  @media screen and (max-width: $large_desk) {
    width: 100%;
    padding-right: 0;

    .productCard_ratings {
      margin: 8px 0;
    }
  }
}

.collection__product-variants {
  margin-bottom: 64px;
  display: flex;
  width: 79%;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;

  @media screen and (max-width: $large_desk) {
    width: 100%;
  }

  &::-webkit-scrollbar {
    display: none;
  }
  ::-webkit-scrollbar {
    display: none;
  }

  .productCard {
    min-width: 32.3%;
    max-width: 32.3%;
    padding-right: 24px;

    @media screen and (max-width: $mobile) {
      min-width: 47.5%;
      max-width: 47.5%;
      padding-right: 17px;
    }
  }
}

.productCard .productCard_ratings {
  margin: 5px 0 15px;

  @media screen and (max-width: $mobile) {
    margin: -4px 0 8px;
  }
}

.subcollection__product-results {
  display: flex;
  flex-direction: column;
}

.collection__arrow-right,
.collection__arrow-left {
  position: absolute;
  top: 40%;
  width: 30px;
  height: 30px;
  z-index: 2;
  cursor: pointer;

  @media screen and (max-width: $large_desk) {
    top: unset;
    bottom: 10px;
  }
}

.collection__arrow-right {
  right: 0;
  transform: translate(100%, -50%);
  background: $right-arrow no-repeat center/contain;

  @media screen and (max-width: $large_desk) {
    transform: translate(0, 0);
  }
}

.collection__arrow-left {
  left: 21%;
  transform: translate(-100%, -50%);
  background: $left-arrow no-repeat center/contain;

  @media screen and (max-width: $large_desk) {
    left: unset;
    right: 50px;
    transform: translate(0, 0);
  }
}

.collection__arrow-desktop {
  @media screen and (max-width: $large_desk) {
    display: none;
  }
}

.collection__arrow-mobile {
  @media screen and (min-width: $large_desk-up) {
    display: none;
  }
}